<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div>
      <app-healthcare-header></app-healthcare-header>
      <div class="inline-elements">
        <img src="./assets/homeIcon.png" />
        <label>Home</label>
        <img src="./assets/arrowIcon.png" />
        <img src="./assets/UserIcon.png" />
        <label>First Middle Last</label>
        <img src="./assets/arrowIcon.png" />
        <img src="./assets/UsercircleIcon.png" />
        <label style="color: #2d5059">Patient Portal</label>
      </div>
      <div class="sectionHeading">
        <img src="./assets/Users.png" />
        <label>Users</label>
      </div>
      <div class="element">
        <label class="btn">
          <img src="./assets/addUserIcon.png" style="margin-bottom: 10px" />
          Give someone access to portal
        </label>
      </div>
      <div class="footer1">
        <app-healthcare-footer></app-healthcare-footer>
      </div>
    </div>
  </body>
</html>
