<div class="row">
  <div class="column">
    <img src="../../assets/Avatar/Avatar1.png">
    <img src="../../assets/Avatar/Avatar2.png">
    <img src="../../assets/Avatar/Avatar3.png">
    <img src="../../assets/Avatar/Avatar4.png">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="../../assets/Avatar/Avatar5.png">
    <img src="../../assets/Avatar/Avatar6.png">
    <img src="../../assets/Avatar/Avatar7.png">
    <img src="../../assets/Avatar/Avatar8.png">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="../../assets/Avatar/Avatar9.png">
    <img src="../../assets/Avatar/Avatar10.png">
    <img src="../../assets/Avatar/Avatar11.png">
    <img src="../../assets/Avatar/Avatar12.png">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="../../assets/Avatar/Avatar13.png">
    <img src="../../assets/Avatar/Avatar14.png">
    <img src="../../assets/Avatar/Avatar15.png">
    <img src="../../assets/Avatar/Avatar16.png">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="../../assets/Avatar/Avatar17.png">
    <img src="../../assets/Avatar/Avatar18.png">
    <img src="../../assets/Avatar/Avatar19.png">
    <img src="../../assets/Avatar/Avatar20.png">
  </div>
</div>



<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->