<link
  href="https://fonts.googleapis.com/css?family=Rubik One"
  rel="stylesheet"
/>
<div class="holder">
  <div fxHide fxShow.gt-md fxLayout="row">
    <div fxFlex="50">
      <mat-grid-list cols="2" rowHeight="110px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <h1 class="header">Why Script Chain Health?</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
          <mat-card>
            <img
              mat-card-image
              src="https://cdn-icons-png.flaticon.com/512/7364/7364272.png"
            />
            <mat-card-content>
              <h5>Artificial Intelligence</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi
                obcaecati facilis molestias perferendis quae iste nihil minus
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
          <mat-card>
            <img
              mat-card-image
              src="https://cdn-icons-png.flaticon.com/512/27/27164.png"
            />
            <mat-card-content>
              <h5>Preventive Healthcare</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi
                obcaecati facilis molestias perferendis quae iste nihil minus
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
          <mat-card>
            <img
              mat-card-image
              src="https://cdn-icons-png.flaticon.com/512/846/846099.png"
            />
            <mat-card-content>
              <h5>Data Security</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi
                obcaecati facilis molestias perferendis quae iste nihil minus
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
          <mat-card>
            <img
              mat-card-image
              src="https://cdn-icons-png.flaticon.com/512/1035/1035086.png"
            />
            <mat-card-content>
              <h5>Data Accuracy</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi
                obcaecati facilis molestias perferendis quae iste nihil minus
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"> </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex="50">
      <mat-grid-list cols="3" rowHeight="110px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <h1 class="header">Watch How We Interpret Data</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <iframe src="https://www.youtube.com/embed/hXFf1Ncwkgw"></iframe>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"
          ><button>ScriptChain Health White Paper</button></mat-grid-tile
        >
        <mat-grid-tile [colspan]="1" [rowspan]="1"
          ><button>Request Access</button></mat-grid-tile
        >
      </mat-grid-list>
    </div>
  </div>

  <div fxShow fxHide.gt-md fxLayout="column">blblblblblblbllblblblblb</div>
</div>
