<!-- Footer -->
<footer fxHide fxShow.gt-sm class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-5 mt-md-0 mt-3">
        <!-- Content -->
        <img
          class="logo"
          src="../../assets/company-logo/scriptchain-health-logo.svg"
          alt=""
        />
        <p class="description">
          We use AI for Cardiovascular Disease and Readmission prevention by
          optimizing the point of care at the time of admission.
        </p>
        <div class="icons">

          <a href="https://www.facebook.com/ScriptChain-108456297282307" target="_blank"><img src="../../assets/icons/facebook.svg" alt=""></a>
          <a href="https://www.instagram.com/scriptchainhealth/" target="_blank"><img src="../../assets/icons/instagram.svg" alt=""></a>
          <a href="https://twitter.com/scriptchain1" target="_blank"><img src="../../assets/icons/twitter.svg" alt=""></a>

          <a href=""><img src="../../assets/icons/facebook.svg" alt=""></a>
          <a href=""><img src="../../assets/icons/instagram.svg" alt=""></a>
          <a href=""><img src="../../assets/icons/twitter.svg" alt=""></a>
      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col">
        <!-- Links -->
        <h5>Partnerships</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/becomeapartner">Become a Partner</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col middle">
        <!-- Links -->
        <h5>About</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/whatisscriptchain">What is ScriptChain Health</a>
          </li>
          <li>
            <a routerLink="/blog">Explore Our Blog</a>
          </li>
          <li>
            <a routerLink="/capabilitystatement">Capability Statement</a>
          </li>
          <li>
            <a routerLink="/whoweare">Who We Are</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col">
        <!-- Links -->
        <h5>Support</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/faq">FAQ</a>
          </li>
          <li>
            <a routerLink="/request-access">Request Access</a>
          </li>
        </ul>
      </div>
      <!-- Grid row -->
      <div class="col"></div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright py-3">
    <label for="">© 2022 ScriptChain Health. All rights reserved. </label>
    <a href="">Privacy Policy</a>
    <label for=""> </label>
    <a href="">Terms & Conditons</a>
  </div>
  <!-- Copyright -->
</footer>

<!-- Mobile View -->
<footer fxShow fxHide.gt-sm class="page-footer font-small blue pt-4 bottom">
  <!-- Footer Links -->
  <div class="container-fluid text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col">
        <!-- Content -->

        <img
          class="logo logo-center"
          src="../../assets/company-logo/scriptchain-health-logo.svg"
          alt=""
        />

        <img class="logo logo-center" src="../../assets/company-logo/scriptchain-health-logo.svg" alt="" />

        <p class="top">
          We use AI for Cardiovascular Disease and Readmission prevention by
          optimizing the point of care at the time of admission.
        </p>
        <div class="icons icons-center">
          <a href=""><img src="../../assets/icons/facebook.svg" alt=""></a>
          <a href=""><img src="../../assets/icons/instagram.svg" alt=""></a>
          <a href=""><img src="../../assets/icons/twitter.svg" alt=""></a>
          <a href=""><img src="../../assets/icons/linkedin.svg" alt=""></a>
        </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col">
        <!-- Links -->
        <h5>Partnerships</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/becomeapartner">Become a Partner</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col middle">
        <!-- Links -->
        <h5>About</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/whatisscriptchain">What is ScriptChain Health</a>
          </li>
          <li>
            <a routerLink="/blog">Explore Our Blog</a>
          </li>
          <li>
            <a routerLink="/capabilitystatement">Capability Statement</a>
          </li>
          <li>
            <a routerLink="/whoweare">Who We Are</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col">
        <!-- Links -->
        <h5>Support</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/faq">FAQ</a>
          </li>
          <li>
            <a routerLink="/request-access">Request Access</a>
          </li>
        </ul>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright py-3">
    <label for="">© 2022 ScriptChain Health. All rights reserved. </label>
    <br>
    <a routerLink="/privacy-policy" href="">Privacy Policy</a>
    <label for=""> </label>
    <a routerLink="/terms-conditions" href="">Terms & Conditons</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

    <a href="">Privacy Policy</a>
    <label for=""> </label>
    <a href="">Terms & Conditons</a>
  
  <!-- Copyright -->
</footer>
<!-- Footer -->