<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="subfooter">
      <div class="left-part">
        <table>
          <th>About</th>
          <th>Partnerships</th>
          <th>Providers</th>
          <th>Patients</th>
          <th>Support</th>
          <tr>
            <td>What is ScriptChain?</td>
            <td>Our Partners</td>
            <td>Information</td>
            <td>Information</td>
            <td>FAQ</td>
          </tr>
          <tr>
            <td>Capability Statement</td>
            <td>Become a Partner</td>
            <td>Provider Portal</td>
            <td>Patient Portal</td>
            <td>Request Access</td>
          </tr>
          <tr>
            <td>Who We Are</td>
          </tr>
        </table>
      </div>
      <div class="right-part">
        <div style="float: right; margin-top: 24px">
          <label>Need to get in touch?</label>
          <br />
          <button type="button" class="helpBtn" style="margin-left: 40px">
            Contact
          </button>
        </div>
        <br />
      </div>
      <label id="support" style="color: #ffffff"
        >For technical issues, please visit our
        <a href="#" style="text-decoration: underline; color: #ffffff"
          >support page</a
        >.</label
      >
    </div>
    <div
      class="footer"
      style="
        width: 100%;
        height: 64px;
        left: 0px;

        /* Teal 400 */

        background: #2d5059;
        /* Drop Shadow E300 */

        box-shadow: 0px 6px 16px rgba(31, 33, 38, 0.15);
      "
    >
      <div class="copyright-container" style="float: right">
        <label
          >&copy; 2021 ScriptChain. All rights reserved. &nbsp; &nbsp;</label
        >
      </div>
    </div>
  </body>
</html>
