.bottom{
  padding-bottom: 10px;
}
.page-footer {
  background-color: #2d5059;
  color: white;
}
.logo {
  width: 100px;
  margin: 5px 20px;
}
.description{
  margin-left: 20px;
  width: 70%;
  font-size: 15px;
}
.top{
  width: 70%;
  font-size: 15px;
  text-align: center;
  margin: 0 auto !important;
}
hr{
  background-color: #2d5059;
}
.logo-center{
  display: flex;
  margin: 0 auto;
}
.icons-center{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media only screen 
and (max-width: 600px){ 
  .col{
    padding-top: 0;
    padding-bottom:0;
    padding-left: 70px;
    padding-right:70px;
    border: none;
    margin-right: 20px;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
  }
  .middle{
  padding: none ;
  border: none;
  margin-right: none;
  border-top: none;
  border-bottom: none;
  }
  .footer-copyright{
    padding-bottom:10px;
  }
}