<!--
Register Paitent Form
-->

<!DOCTYPE html>

<html lang="zxx">
    <app-common-header></app-common-header>
<body>


<!-- healthcare register -->
<section class="login py-5">
  <div class="container py-xl-5 py-lg-3">
    <div id= "registrationForm"class="login px-sm-4 mx-auto mw-100 login-wrapper">
      <div class="title-section mb-md-5 mb-4">
        <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" style="padding-top: 50px">Register</h3>
      </div>
      <form ngNativeValidate [formGroup]="Form" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label>First Name*</label>
            <input [class.is-invalid]="Form.get('firstName').invalid && Form.get('firstName').touched" formControlName="firstName" type="text" class="form-control" required>
            <small [class.d-none]="Form.get('firstName').valid || Form.get('firstName').untouched" class="text-danger">First Name is required.</small>
          </div>
             <div class="form-group">
                <label>Last Name*</label>
                <input [class.is-invalid]="Form.get('lastName').invalid && Form.get('lastName').touched" formControlName="lastName" type="text" class="form-control" required>
                <small [class.d-none]="Form.get('lastName').valid || Form.get('lastName').untouched" class="text-danger">Last Name is required.</small>
              </div>
                 <div class="form-group">
                    <label>Email*</label>
                    <input [class.is-invalid]="Form.get('email').invalid && Form.get('email').touched" formControlName="email" type="email" class="form-control" required>
                    <small [class.d-none]="Form.get('email').valid || Form.get('email').untouched" class="text-danger">Email is required.</small>
                    <small  *ngIf = userAlreadyExist class="text-danger">User already exists</small>
                  </div>
                  <div class="form-group">
                    <label>Phone*</label>
                    <input [class.is-invalid]="Form.get('phone').invalid && Form.get('phone').touched" formControlName="phone" type="text" [textMask]="{mask: phonemask}" class="form-control" required>
                    <small [class.d-none]="Form.get('phone').valid || Form.get('phone').untouched" class="text-danger">Phone is required.</small>
                  </div>
                  <div class="form-group">
                    <label>Company Name*</label>
                    <input [class.is-invalid]="Form.get('companyName').invalid && Form.get('companyName').touched" formControlName="companyName" type="text" class="form-control" required>
                    <small [class.d-none]="Form.get('companyName').valid || Form.get('companyName').untouched" class="text-danger">Company Name is required.</small>
                  </div>
                  <div class="form-group">
                    <label>EHR*</label>
                    <input [class.is-invalid]="Form.get('ehr').invalid && Form.get('ehr').touched" formControlName="ehr" type="text" class="form-control" required>
                    <small [class.d-none]="Form.get('ehr').valid || Form.get('ehr').untouched" class="text-danger">EHR is required.</small>
                  </div>
                  <div class="form-group">
                    <label>Role in Company*</label>
                    <input [class.is-invalid]="Form.get('roleInCompany').invalid && Form.get('roleInCompany').touched" formControlName="roleInCompany" type="text" class="form-control" required>
                    <small [class.d-none]="Form.get('roleInCompany').valid || Form.get('roleInCompany').untouched" class="text-danger">Role in company is required.</small>
                  </div>
                  <div class="form-group">
                    <label> Password*</label>
                    <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!,@,#,$,%,^,&,*]).{6,20}" [class.is-invalid]="Form.get('password').invalid && Form.get('password').touched" formControlName="password" type="password" class="form-control" required>
                    <small [class.d-none]="Form.get('password').valid || Form.get('password').untouched" class="text-danger">Password requires a capital letter, number and special symbol(ex: !,@,?...)</small>
                  </div>
                       <div class="n-right-w3ls mt-5 pt-lg-4">
                        <button class="submit btn font-weight-bold" type="submit">Register</button>
                      </div>

    </form>
    </div>
  </div>
  <div class="py-5" id="registersuccessful">
    <h1 align="center">Thank you for registering. Please verify your account by checking your email!</h1>
  </div>
</section>
<!-- //healthcare register -->

<!-- footer -->

<!-- //footer -->

<app-footer></app-footer>

</body>

</html>



