* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Navigation styling */
nav {
  background: #2d5059;
  height: 64px;
}

.leftHeader {
  background-color: seashell;
}


.leftHeader ul li {
  display: inline-block;
}

.leftHeader ul li a{
  text-decoration: none;
  color: teal;
  font-family: "Lato";
  font-weight: medium;
  margin: 0 6px;
}

.rightHeader{
  margin-right: 15px;
}

.search , .login{
  color: seashell;
  font-weight: medium;
}

.signup{
  background-color: seashell;
  color: teal;
  font-family: "Lato";
  font-weight: bold;
}

.dropdown{
  position: fixed;
  margin-top: 7px;
  left: 15px;
}
.logo-sm{
  margin-left: 50%;
}



