@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

body {
  background-color: #faf6f2
}

.bpHeader {
  font-family: "Tinos", serif;
  color: #2D5059;
  font-size: 36px;
}

.bpSubHeader {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #1D1F26;
}

.form-container {
  width: 100%;
  display: table-cell;
  background-color: #faf6f2;
}

form label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* White */
  margin-top: 8px;
  margin-bottom: 8px;
  color: #1d1f26;
}

form input {
  /* White */

  background: #ffffff;
  /* Grey 200 */

  border: 2px solid #e1e4eb;
  box-sizing: border-box;
  /* Inner Shadow E-100 */

  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
  height: 40px;
  width: 272px;
}

.vertical-center {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

form textarea {
  background: #ffffff;
  /* Grey 200 */
  height: 120px;
  border: 2px solid #e1e4eb;
  box-sizing: border-box;
  /* Inner Shadow E-100 */
  width: 272px;
  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
}

.sendBtn {
  width: 195x;
  height: 40px;
  color: white;
  background: #5c8a96;
  border: none;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-right: 17px;
  border-radius: 7px;

  /* White */
  margin-top: 16px;
  margin-bottom: 493px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
}

form select {
  /* White */

  background: #ffffff;
  /* Grey 200 */

  border: 2px solid #e1e4eb;
  box-sizing: border-box;
  /* Inner Shadow E-100 */

  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
  height: 40px;
  width: 272px;
}

.quesForm {
  margin: auto;
  margin-top: 40px;
  padding-left: 40%;
  padding-right: 35%;
}
