/* Authors and their contributions */
/* Vidit: Redesigned the form using CSS grid and made the page responsive. */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

html {
  height: 100%;
}

body {
  background-color: #F5F1ED;
  min-height: 100%;
}

.bpHeader {
  font-family: "Tinos", serif;
  color: #2D5059;
  font-size: 36px;
}

.bpSubHeader {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #1D1F26;
}

form label {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height */

  /* White */
  margin-top: 8px;
  margin-bottom: 8px;
  color: #1d1f26;
}

form input {
  /* White */

  background: #ffffff;
  /* Grey 200 */

  border: 2px solid #e1e4eb;
  box-sizing: border-box;
  /* Inner Shadow E-100 */

  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
  height: 40px;
  width: 100%;
}

.sendBtn {
  width: 140px;
  height: 40px;
  color: #E6EFF1;
  background-color:#5C8A96;
  border: #5C8A96;
  font-size: 14px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  justify-self: center;
  grid-column: 1 / -1;
}
 
form select {
  /* White */

  background: #ffffff;
  /* Grey 200 */

  border: 2px solid #e1e4eb;
  box-sizing: border-box;
  /* Inner Shadow E-100 */

  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
  height: 40px;
  width: 272px;
}

.left {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.clear {
  clear: both;
}

.divider {
  border-top: 1px solid #B0B4BF;
  grid-column: 1 / -1;
}

form > div {
  display: inline-block;
}

.bpForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  background-color: #E6EFF1;
  border-radius: 15px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#partnership-div {
  background-color: #F5F1ED;
}

#partnership-form {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
}

#partnership-form form {
  padding: 1em;
}
@media screen and (min-width: 600px) {
  #partnership-form form {
    padding: 3em;
  }
}

.partnership-flex-row {
  justify-content: space-between;
}

.partnership-flex-row div {
  min-width: 280px;
}