<div>
  <app-landing-page-header></app-landing-page-header>
  <div style="background-color: #faf6f2">
    <h3 id="loginHeading">Become a Partner</h3>

    <div class="quesForm">
      <form>
        <label>First Name</label>
        <br />
        <input type="text" />
        <br />
        <label>Last Name</label>
        <br />
        <input type="text" />
        <br />
        <label>Email</label>
        <br />
        <input type="text" /> <br />
        <label>Phone Number</label>
        <br />
        <input type="text" placeholder="(000)-000-0000" mask="(000)-000-0000" />
        <br />
        <label>Job Title</label>
        <br />
        <input type="text" />
        <br />
        <label>Company Name</label>
        <br />
        <input type="text" />
        <br />
        <label>Company Vertical</label>
        <br />
        <select name="company verticals">
          <option value="provider">Provider</option>
          <option value="healthcareInstitution">Healthcare Institution</option>
          <option value="insurer">Insurer</option>
          <option value="socialMedia">Social Media</option>
          <option value="investor">Investor</option>
          <option value="healthcareit">Healthcare IT</option>
          <option value="entepreneur">Entepreneur</option>
        </select>
        <br />
        <label>Company address</label>
        <input type="text" placeholder="Street address" />
        <br />
        <br />
        <div class="row">
          <div class="col-sm">
            <input type="text" placeholder="City" />
            <br />
            <br />
          </div>
          <div class="col-sm">
            <input type="text" placeholder="State/Province/Region" />
            <br />
            <br />
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <input type="text" placeholder="Postal code" />
            <br />
            <br />
          </div>
          <div class="col-sm">
            <input type="text" placeholder="Country" />
          </div>
        </div>
        <label>Message</label>
        <br />
        <textarea></textarea><br />

        <button
          type="button"
          class="sendBtn"
          style="margin-left: 0px; width: 195px"
        >
          Submit
        </button>
      </form>
    </div>
  </div>

  <app-landing-page-subfooter></app-landing-page-subfooter>
</div>
