<!--
healthcare login
-->
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Hotjar Tracking Code for https://www.scriptchain.co/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2250267, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
    </style>
  </head>

  <body style="background-color: #faf6f2">
    <!-- healthcare login -->
    <div>
      <app-healthcare-header></app-healthcare-header>
      <h3 class="loginHeading">Provider Login</h3>
      <!--heading--->
      <div class="card">
        <div class="container">
          <!-- <strong>
            <h6
              style="
                margin-top: 16px;
                color: #1d1f26;
                position: static;

                height: 17px;
                left: 16px;
                top: 16px;
              "
            >
              Patients: Please log in through the
              <a href="#" style="text-decoration: underline">patient portal</a>
            </h6>
          </strong> -->
          <form ngNativeValidate [formGroup]="Form" (ngSubmit)="onSubmit()">
            <div class="form-element">
              <label>Email</label>

              <input
                [class.is-invalid]="
                  Form.get('emailAddress').invalid &&
                  Form.get('emailAddress').touched
                "
                formControlName="emailAddress"
                type="email"
                class="form-control"
                id="emailAddress"
                required
              />
              <small
                [class.d-none]="
                  Form.get('emailAddress').valid ||
                  Form.get('emailAddress').untouched
                "
                class="text-danger"
                >Email is required.</small
              >
            </div>
            <div class="form-element">
              <label>Password</label>
              <input
                [class.is-invalid]="
                  Form.get('password').invalid && Form.get('password').touched
                "
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
                required
              />
              <small
                [class.d-none]="
                  Form.get('password').valid || Form.get('password').untouched
                "
                class="text-danger"
                >Password is required</small
              >
            </div>
            <hr />
            <small id="invalidEmailPrompt" class="text-danger d-none"
              >Email does not exist</small
            >
            <small id="invalidPasswordPrompt" class="text-danger d-none"
              >Please recheck your password</small
            >
            <div class="form-element">
              <button type="submit" class="loginBtn">Login</button>
            </div>
            <div class="form-element">
              <button type="button" class="helpBtn">Forgot Password</button>
            </div>
            <hr />

            <div class="form-element">
              <label>New to ScriptChain?</label>
              <button type="button" class="signUpBtn" onclick="window.location.href='healthcare/register'">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
      <app-healthcare-footer-login></app-healthcare-footer-login>
    </div>
  </body>
</html>
