<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Hotjar Tracking Code for https://www.scriptchain.co/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2250267, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
    </style>
  </head>
  <body>
    <div class="card flex-container">
      <div class="class-content">
        <div class="sectionHeading">
          <span
            class="fa fa-user-plus"
            style="
              color: #1d1f26;
              margin-left: 18px;
              margin-top: 17px;
              font-size: 1.5em;
            "
          ></span>
          <label>Add User</label>
        </div>
      </div>
    </div>
  </body>
</html>
