<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Hotjar Tracking Code for https://www.scriptchain.co/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2250267, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
    </style>
  </head>
  <body>
    <div id="card1" class="card">
      <div class="class-content">
        <div class="sectionHeading">
          <img src="./assets/userADD.png" />
          <label>Add User</label>
          <img id="crossIc" src="./assets/crossIcon.png" />
        </div>
        <hr />
        <img id="strtIc" src="./assets/startIc.png" />
        <img id="line" src="./assets/ProgressLine.png" />
        <hr />
        <div class="heading">
          <img src="./assets/infoIcon.png" />
          <label>User Info</label>
        </div>
        <label class="infoHeadings">Who is the user?</label>
        <div>
          <button id="patientBtn" class="mystyle" (click)="showPatient()">The Patient</button>
          <button id="Caregiverbtn" (click)="showCaregiver()">A Caregiver</button>
        </div>
        <div id="patient">
        <form >
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name</label>
                <input
                  [class.is-invalid]="
                    Form.get('firstName').invalid &&
                    Form.get('firstName').touched
                  "
                  formControlName="firstName"
                  type="text"
                  class="form-control"
                  required
                  placeholder="First"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name</label>
                <input
                  [class.is-invalid]="
                    Form.get('lastName').invalid && Form.get('lastName').touched
                  "
                  formControlName="lastName"
                  type="text"
                  class="form-control"
                  required
                  placeholder="Last"
                />
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Email</label>
                <input
                  [class.is-invalid]="
                    Form.get('email').invalid && Form.get('email').touched
                  "
                  formControlName="email"
                  type="email"
                  class="form-control"
                  required
                  placeholder="email@email.com"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Phone</label>
                <input
                  [class.is-invalid]="
                    Form.get('phone').invalid && Form.get('phone').touched
                  "
                  formControlName="phone"
                  type="text"
                  [textMask]="{ mask: phonemask }"
                  class="form-control"
                  required
                  placeholder="000-000-0000"
                />
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col">
              <div class="form-group" style="float: left">
                <button type="button" class="cancelBtn">Cancel</button>
              </div>
            </div>
            <div class="col">
              <div class="form-group" style="float: right">
                <button type="button" class="nextBtn" (click)="widgets()">Next</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="caregiver" style="display: none;">
        <label class="infoHeadings">What is their relation to the patient?</label>
        <div>
          <button class="mystyle" style="margin-left:18px">Relative</button>
          <button>Home Health Aide</button>
          <button >Certified Nursing Assistant</button>
        </div>
        <form >
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name</label>
                <input
                  [class.is-invalid]="
                    Form.get('firstName').invalid &&
                    Form.get('firstName').touched
                  "
                  formControlName="firstName"
                  type="text"
                  class="form-control"
                  required
                  placeholder=""
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name</label>
                <input
                  [class.is-invalid]="
                    Form.get('lastName').invalid && Form.get('lastName').touched
                  "
                  formControlName="lastName"
                  type="text"
                  class="form-control"
                  required
                  placeholder=""
                />
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Email</label>
                <input
                  [class.is-invalid]="
                    Form.get('email').invalid && Form.get('email').touched
                  "
                  formControlName="email"
                  type="email"
                  class="form-control"
                  required
                  placeholder=""
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Phone</label>
                <input
                  [class.is-invalid]="
                    Form.get('phone').invalid && Form.get('phone').touched
                  "
                  formControlName="phone"
                  type="text"
                  [textMask]="{ mask: phonemask }"
                  class="form-control"
                  required
                  placeholder=""
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Employer</label>
                <input
                  [class.is-invalid]="
                    Form.get('employer').invalid && Form.get('employer').touched
                  "
                  formControlName="employer"
                  type="text"
                  [textMask]="{ mask: employermask }"
                  class="form-control"
                  required
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col">
              <div class="form-group" style="float: left">
                <button type="button" class="cancelBtn">Cancel</button>
              </div>
            </div>
            <div class="col">
              <div class="form-group" style="float: right">
                <button type="button" class="nextBtn" (click)="widgets()">Next</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
    <div id="card2" class="card" style="display: none;">
      <div class="class-content">
        <div class="sectionHeading">
          <img src="./assets/userADD.png" />
          <label>Add User</label>
          <img id="crossIc" src="./assets/crossIcon.png" />
        </div>
        <hr />
        <img id="strtIc" src="./assets/startIc.png" />
        <img id="line" src="./assets/ProgressLine.png" />
        <hr />
        <div class="heading">
          <img src="./assets/Icon.png" />
          <label>Widgets</label>
          <br>
          <div style="position:absolute; left:17px">Options for what will be displayed in the patient portal</div>
        </div>
        <br>
        <div class="bottom" id="info1">
          <div id="type" class="heading1">Type</div>
          <div id="show" class="heading1">Show</div>
          <div id="subtype" class="heading1">Subtype</div> 
        </div>
        <br>
        <div class="bottom">
          <label class="type">Readmission</label>
            <label class="switch" style="margin-left: 13px;">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <br>
        <div class="bottom">
          <label class="type">Condition</label>
            <label class="switch" style="margin-left: 30px;">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <br>
        <div class="bottom">
          <label class="type">Patient Info</label>
            <label class="switch" style="margin-left: 18px;">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <br>
        <div class="bottom">
          <label class="type">Medications</label>
            <label class="switch" style="margin-left: 12px;">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <br>
        <div class="bottom">
          <label class="type">Labs</label>
            <label class="switch" style="margin-left: 67px;">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <br>
        <div class="bottom">
          <label class="type">Vitals</label>
            <label class="switch" style="margin-left: 57px;">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <br>
        <div class="bottom">
          <label class="type">Diagnoses</label>
            <label class="switch" style="margin-left: 24px;">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <br>
        <div class="bottom">
          <label class="type">Procedures</label>
            <label class="switch" style="margin-left: 15px;">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <div class="form-group" style="float: left">
              <button type="button" class="cancelBtn">Cancel</button>
            </div>
          </div>
          <div class="col">
            <div class="form-group" style="float: right">
              <button type="button" class="nextBtn" (click)="signup()">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="card3" class="card" style="display: none;">
      <div class="class-content">
        <div class="sectionHeading">
          <img src="./assets/userADD.png" />
          <label>Add User</label>
          <img id="crossIc" src="./assets/crossIcon.png" />
        </div>
        <hr />
        <img id="strtIc" src="./assets/startIc.png" />
        <img id="line" src="./assets/ProgressLine.png" />
        <hr />
        <div class="heading">
          <img src="./assets/Icon1.png" />
          <label>Sign-Up</label>
          <br>
        </div>
        <label class="infoHeadings">How will the user be prompted to sign up?</label>
        <br>
        <div class="box">
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
          <label for="vehicle1"><span id="space">Email</span></label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" value="Bike">
          <label for="vehicle2"><span id="space">Mobile Text Message</span></label><br>
          <input type="checkbox" id="vehicle3" name="vehicle2" value="Bike">
          <label for="vehicle2"><span id="space">Printed Document with Instructions</span></label><br>
        </div>
      </div>
        <div class="row">
          <div class="col">
            <div class="form-group" style="float: left">
              <button type="button" class="cancelBtn">Cancel</button>
            </div>
          </div>
          <div class="col">
            <div class="form-group" style="float: right">
              <button type="button" class="nextBtn" (click)="finish()">Finish</button>
            </div>
          </div>
        </div>
    </div>
    <div id="card4" class="card" style="display: none;">
      <div class="class-content">
        <div class="sectionHeading">
          <img src="./assets/userADD.png" />
          <label>Add User</label>
          <img id="crossIc" src="./assets/crossIcon.png" />
        </div>
        <hr />
        <img id="strtIc" src="./assets/startIc.png" />
        <img id="line" src="./assets/ProgressLine.png" />
        <hr />
        <div class="heading">
          <img src="./assets/Icon2.png" />
          <label>User has been created</label>
        </div>
        <br>
        <ul>
          <li>A text message has been sent with sign-up instructions</li>
          <li>An email has been sent with sign-up instructions</li>
        </ul>
        <br>
        <div id="bot">To send additional notifications or print another document, 
          please access the user's configuration page</div>
        <div class="row">
          <div class="col">
            <div class="form-group" style="float: right">
              <button type="button" class="nextBtn">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
