<!--
central login
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Be Clinic Medical Category Bootstrap Responsive Website Template | Login :: W3layouts</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta name="keywords" content="Be Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--// Meta tag Keywords -->
  <!-- Font-Awesome-Icons-CSS -->
  <!-- //Custom-Files -->

  <!-- Web-Fonts -->
  <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">
  <!-- //Web-Fonts -->
</head>

<body>
<!-- main -->
<div id="home">
  <!-- header -->
  <div class="main-top" style="background: black">
    <div class="container">
      <div class="header d-md-flex justify-content-between align-items-center py-3">
        <!-- logo -->
        <div id="logo">
          <h1>
            <a href="/home">
              <span class="fa fa-user-md mr-2"></span>
              <span class="logo-sp">ScriptChain</span>

            </a>
          </h1>
        </div>
        <!-- //logo -->
        <!-- nav -->
        <div class="nav_w3ls">
          <nav>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
              <li><a routerLink="/home" class="active">Home</a></li>
              <li><a routerLink="/contact"  class="mx-lg-4 mx-md-3 my-md-0 my-2">Request Demo</a></li>
              <li><a href="/patient#footer">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <!-- //nav -->
      </div>
    </div>
  </div>
</div>
<!-- //main -->


<!-- central login -->
<section class="login py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="title-section mb-md-5 mb-4">
      <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" style="padding-top: 50px">Login</h3>
    </div>
    <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
      <form class="login-wrapper" action="#" method="post">
        <div class="form-group">
          <label>Contact ID</label>
          <input type="email" class="form-control" name="patientId" placeholder="" required="">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="" required="">
        </div>
        <button type="submit" class="btn submit mt-4">Login</button>
        <p class="text-center mt-5">
          <a routerLink="/register"> Don't have an Account?</a>
        </p>
      </form>
    </div>
  </div>
</section>
<!-- //central login -->

<!-- footer -->
<footer class="py-5" id="footer">
  <div class="container py-xl-5 py-lg-3">
    <div class="row">
      <div class="col-lg-7 w3l-footer">
        <!-- logo -->
        <div class="logo2">
          <h2>
            <a href="index.html">
              <span class="fa fa-user-md mr-2"></span>
              <span class="logo-sp">ScriptChain</span>
            </a>
          </h2>
        </div>
        <!-- //logo -->
        <p class="mt-4 text-light"> The product is a blockchain system in development where it can help increase
          efficiency and make it more user friendly to our customer like the healthcare insurers, providers and
          pharmacy's. Creating a large decentralized network throughout the entire horizontal process.</p>
        <ul class="list-unstyled list-styles mt-lg-5 mt-4">
          <li>
            <p class="text-light"><span class="fa fa-location-arrow mr-2"></span>Boston, MA</p>
          </li>
          <li class="my-3">
            <p class="text-light"><span class="fa fa-phone mr-2"></span>Enter phone</p>
          </li>
          <li>
            <a href="mailto:info@example.com" class="text-light"><span class="fa fa-envelope-open mr-2"></span>Enter email</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 w3l-footer mt-lg-0 mt-5">
        <h3 class="mb-sm-4 mb-3 text-wh">Partners</h3>
        <ul class="list-unstyled list-part text-wh pt-lg-3">
          <li><span class="fa fa-500px" aria-hidden="true"></span></li>
          <li class="mx-4"><span class="fa fa-gg" aria-hidden="true"></span></li>
          <li><span class="fa fa-lastfm" aria-hidden="true"></span></li>
          <li class="mx-4"><span class="fa fa-openid" aria-hidden="true"></span></li>
          <li><span class="fa fa-angellist" aria-hidden="true"></span></li>
        </ul>
        
        <div class="n-right-w3ls mt-5 pt-lg-4">
          <h3 class="mb-sm-4 mb-3 text-wh">Need Help?</h3>
          <button routerLink='/contact' class="submit btn font-weight-bold" type="submit">Request Demo</button>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->

<!-- footer bottom -->
<!-- copyright -->
<div class="copy-w3pvt">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
        <p>&copy; 2019 ScriptChain. All rights reserved | Design by
          <a href="http://w3layouts.com/">W3layouts</a>
        </p>
      </div>
      <div class="col-lg-5 w3ls_footer_grid_left1_pos text-lg-right text-center mt-lg-0 mt-2">
        <ul>
          <li>
            <a href="#" class="facebook">
              <span class="fa fa-facebook-f mr-2"></span>Facebook</a>
          </li>
          <li class="mx-3">
            <a href="#" class="twitter">
              <span class="fa fa-twitter mr-2"></span>Twitter</a>
          </li>
          <li>
            <a href="#" class="google">
              <span class="fa fa-google-plus mr-2"></span>Google Plus</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- //copyright -->
<!-- //footer bottom -->
<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->

</body>

</html>


