.loginHeading {
  font-family: "Tinos", serif;
  color: #2d5059;
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
}
html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
  background-color: #faf6f2;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

#subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1d1f26;
  margin-top: 16px;
  margin-left: 344px;
  margin-right: 260px;
  font-size: 14px;
  line-height: 17px;
}

.teamDiv {
  height: 1340px;
  left: 0px;
  top: 910px;

  /* Teal 400 */

  background: #2d5059;
}

.ceoIntro,
.advisorDiv {
  margin-left: 646px;
  margin-top: 40px;
}

.ceoIntro h3,
.advisorDiv h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Grey 500 */

  color: #1d1f26;
}

.ceoIntro img {
  height: 144px;
  width: 144px;
  margin-top: 24px;
  margin-bottom: 0px;
}

.ceoIntro label,
.advisorDiv label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Grey 500 */
  margin-top: 16px;
  color: #1d1f26;
  margin-bottom: 0px;
}

.ceoIntro p,
.advisorDiv p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-top: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  /* Grey 500 */

  color: #1d1f26;
}

#teamheading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  padding-top: 40px;
  /* White */

  color: #ffffff;

  text-align: center;
  font-size: 36px;
}

#ceoImg {
  height: 144px;
  height: 144px;
}

.row {
  margin-left: 96px;
  margin-right: 96px;
  margin-top: 24px;
}

.team label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  margin-top: 16px;
  /* White */

  color: #ffffff;
  margin-bottom: 0px;
}

.team h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* White */
  margin-bottom: 0px;
  margin-top: 8px;
  color: #ffffff;
}

.team p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0px;
  margin-top: 8px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;
}

.signUpBtn {
  width: 218px;
  height: 40px;
  color: white;
  background-color: #5c8a96;
  border: none;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-right: 17px;
  border-radius: 8px;
  margin-bottom: 49px;
  margin-left: 24px;
}

.joinDiv h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-left: 24px;
  padding-top: 40px;
  color: #ffffff;

  margin-bottom: 16px;
}

.joinDiv {
  height: 165px;
  left: 0px;
  top: 2213px;
  /* Teal 400 */

  background: #2d5059;
}
