/* Authors and their contributions:
Vince G:  added image scaling to avoid "squished" headshots*/
body{
  background-color: #fbf6f1;
  height: max-content;
}
app-landing-page-header{
  position: absolute;
  top: 0;
}
.loginHeading {
  font-family: "Tinos";
  color: #2d5059;
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
  margin-top: 64px;
}
.whoWeAreDesc{
  font-family: "Lato";
  font-size: 14px;
  text-align: center;
}
.founder-card,.team,.advisors{
  width: 80vw;
  margin: 40px auto;
}
.founder{
  background-color: red;
  margin: 0 auto;
}
.left-tile{
  margin-left: 5%;
}

.left-tile h2{
  font-family: "Lato";
  font-size: 18px;
  margin-top: 15px;
}
.left-tile h4{
  font-family: "Lato";
  font-size: 14px;
}
.member-card div{
  margin: 0 auto;
  color: #2d5065;
}
.member-card div img{
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.member-card div h2{
  font-size: 18px;
}
.member-card div h3{
  font-size: 14px;
}
.advisor-h1{
  text-align: center;
  font-family: "Lato";
  font-weight: bold;
  font-size: 24px;
}
.join-team{
  display: grid;
  place-items: center;
  height: 200px;
  background-color: #E6EFF1;
}
.join-team h1{
  margin-top: 40px;
  font-family: "Lato";
  font-weight: bold;
  font-size: 24px;
  color: #5c95a0;
}
.join-team button{
  background-color: #4d8c98;
  color: white;
  font-family: "Lato";
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-bottom: 60px;
}
/* Extra mobile view styling */
.bottom div{
  padding:0 20px ;
  text-align: center;
}
