<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/home -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>
    <div>
      <h3 class="loginHeading">Who We Are</h3>

      <div class="ceoIntro ceoAlign">
        <div class="row">
          <div class="col">
            <h3 style="text-align: center">CEO/Founder</h3>
            <img
              src="./assets/MohImg.JPG"
              id="ceoImg"
              style="text-align: center"
            />
            <br />
            <label style="text-align: center">Moh Noori</label>
            <p style="text-align: center">MBA from Boston College</p>
          </div>
        </div>
      </div>

      <div class="teamDiv">
        <div class="team">
          <h4 id="teamheading">Artificial Intelligence</h4>
          <div class="row" style="align-items: center">
            <div class="col px-3 py-3">
              <img src="./assets/gauravSInghImg.jpeg" id="ceoImg" />
              <br />
              <label>Gaurav Singh</label>
              <h6>Machine Learning Engineer</h6>
              <p>MS at Northeastern University</p>
            </div>
            <!--Col1-->
            <div class="col px-3 py-3">
              <img src="./assets/EddieImg.jpg" id="ceoImg" />
              <br />

              <label>Eddie Cohen</label>

              <h6>Machine Learning Engineer</h6>
              <p>MS at University of Pennsylvania</p>
            </div>
            <!--Col2-->
            <div class="col px-3 py-3">
              <img src="./assets/NiranjanNimbargi.png" id="ceoImg" />
              <br />
              <label>Niranjan Nimbargi</label>
              <h6>Machine Learning Engineer</h6>
              <p>MS in Computer Science from Columbia University</p>
            </div>
            <!--Col3-->
            <div class="col px-3 py-3">
              <img src="./assets/VikramImg.jpg" id="ceoImg" />
              <br />
              <label>Vikram Nimbalkar</label>
              <h6>Machine Learning Engineer</h6>
              <p>MS at NJ Institute of Technology</p>
            </div>
            <!--Col4-->
            <div class="col px-3 py-3">
              <img src="./assets/shikharimage.jpg" id="ceoImg" />
              <br />
              <label>Shikhar Bajpai</label>
              <h6>Machine Learning Engineer</h6>
              <p>MS in Data Science from University of Rochester</p>
            </div>
            <!--Col5-->
          </div>
          <!---Row1-->
        </div>
        <!--AI Team-->
        <div class="team">
          <h4 id="teamheading">Software Development</h4>
          <div class="row row1">
            <div class="col px-3 py-3">
              <img src="./assets/srikar-image.png" id="ceoImg" />
              <br />
              <label>Srikar Pothuhamanti</label>
              <h6>Software Developer</h6>
              <p>MS at Stony Brook University</p>
            </div>
            <!--Col1-->
            <div class="col px-3 py-3">
              <img src="./assets/devinaImg.jpeg" id="ceoImg" />
              <br />

              <label>Devina Jaiswal</label>

              <h6>Front End Developer</h6>
              <p>MS at Northeastern University</p>
            </div>
            <!--Col2-->
          </div>
          <!---Row1-->
        </div>
        <!--Software Development Team-->
        <div class="team">
          <h4 id="teamheading">Business Analysts</h4>
          <div class="row row1">
            <div class="col px-3 py-3 padding-0">
              <img src="./assets/JohnKhawImg.jpg" id="ceoImg" />
              <br />
              <label>John Khaw</label>
              <h6>Business Analyst</h6>
              <p>BS at Boston College</p>
            </div>
            <!--Col1-->
            <div class="col px-3 py-3 padding-0">
              <img src="./assets/CalebImg.jpeg" id="ceoImg" />
              <br />

              <label>Caleb Varghese</label>

              <h6>Business Analyst</h6>
              <p>BS at Baruch College</p>
            </div>
            <!--Col2-->
          </div>
          <!---Row1-->
        </div>
        <!--Business Analyst Team-->
        <div class="team">
          <h4 id="teamheading">Design</h4>
          <div class="row">
            <div class="col px-3 py-3">
              <img src="./assets/sarahImg.jpg" id="ceoImg" />
              <br />
              <label>Sarah Churchman</label>
              <h6>Product Designer</h6>
              <p>MA at Georgia Tech</p>
            </div>
            <!--Col1-->
          </div>
          <!---Row1-->
        </div>
        <!--Design Team-->
      </div>

      <div class="advisorDiv" style="margin-bottom: 20px">
        <h4 class="py-3 ceoIntr" style="text-align: center">Advisors</h4>
        <div class="team">
          <div class="row">
            <div class="col px-3 py-3">
              <img src="./assets/DaveImg.PNG" id="ceoImg" />
              <label>Dr. David Denmark</label>
              <h6>Advisor and Cardiologist</h6>
              <p>MD at Brigham and Women's Hospital</p>
            </div>
            <!--Col1-->

            <div class="col px-3 py-3">
              <img src="./assets/Dr.ChristianImg.jpg" id="ceoImg" />
              <label>Dr. Christian Ruff</label>
              <h6>Co-Principal Investigator</h6>
              <p>MD at Mass General Hospital</p>
            </div>
            <!--Col2-->
            <div class="col px-3 py-3">
              <img src="./assets/Dr.NicholsonImg.jpg" id="ceoImg" />
              <label>Dr. Nicholas Marston</label>
              <h6>Co-Principal Investigator</h6>
              <p>MD at Mass General Hospital</p>
            </div>
            <!--Col3-->
          </div>
          <!---Row 1 end-->
        </div>
      </div>
      <div class="joinDiv">
        <h4>Interested in joining our team?</h4>
        <button type="button" class="signUpBtn">View Open Roles</button>
      </div>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
