<!--  Authors and their contributions:
    Vince: updated pitchdeck and cropped images.
    Denis: Design update
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/home -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <!-- Header -->
      <app-landing-page-header></app-landing-page-header>
    </div>
    <div>
      <!-- H1 plus description -->
      <h3 class="loginHeading">Who We Are</h3>
      <p class="whoWeAreDesc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
        excepturi maiores architecto harum. Vel, excepturi dolorum, totam
        repellat exercitationem recusandae sit dicta ea, sequi deleniti rerum
        voluptatibus nulla facilis. Mollitia!
      </p>
    </div>
    <!-- Top card/Founder -->
    <!-- XL View -->
    <div fxHide fxShow.xl>
      <!-- Team cards -->
      <div class="team">
        <mat-grid-list cols="5" rowHeight="300px" [gutterSize]="'20px'">
          <mat-grid-tile class="hover" *ngFor="let team of teamMembers">
            <div routerLink="/whoweare/{{ team.id }}" class="card">
              <img src="{{ team.icon }}" />
              <div class="bottomleft">
                <h1>{{ team.name }}</h1>
                <h2>{{ team.title }}</h2>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Advisor cards -->
      <h1 class="advisor-h1">Advisors</h1>
      <div class="advisors">
        <mat-grid-list style="width: 45%; margin: 0 auto;" cols="2" rowHeight="300px" [gutterSize]="'20px'">
          <mat-grid-tile
            class="hover"
            *ngFor="let advisor of advisors"
          >
          <div routerLink="/whoweare/{{ advisor.id }}" class="card">
              <img src="{{ advisor.icon }}" />
              <div class="bottomleft">
                <h1>{{ advisor.name }}</h1>
                <h2>{{ advisor.title }}</h2>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <!-- LG View -->
    <div fxHide fxShow.lg>
      <!-- Team cards -->
      <div class="team">
        <mat-grid-list cols="4" rowHeight="300px" [gutterSize]="'20px'">
          <mat-grid-tile class="hover" *ngFor="let team of teamMembers">
            <div routerLink="/whoweare/{{ team.id }}" class="card">
              <img src="{{ team.icon }}" />
              <div class="bottomleft">
                <h1>{{ team.name }}</h1>
                <h2>{{ team.title }}</h2>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Advisor cards -->
      <h1 class="advisor-h1">Advisors</h1>
      <div class="advisors">
        <mat-grid-list style="width: 45%; margin: 0 auto;" cols="2" rowHeight="300px" [gutterSize]="'20px'">
          <mat-grid-tile
            class="hover"
            *ngFor="let advisor of advisors"
          >
          <div routerLink="/whoweare/{{ advisor.id }}" class="card">
              <img src="{{ advisor.icon }}" />
              <div class="bottomleft">
                <h1>{{ advisor.name }}</h1>
                <h2>{{ advisor.title }}</h2>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <!-- Md View -->
    <div fxHide fxShow.md>
      <!-- Team cards -->
      <div class="team">
        <mat-grid-list cols="3" rowHeight="300px" [gutterSize]="'20px'">
          <mat-grid-tile class="hover" *ngFor="let team of teamMembers">
            <div routerLink="/whoweare/{{ team.id }}" class="card">
              <img src="{{ team.icon }}" />
              <div class="bottomleft">
                <h1>{{ team.name }}</h1>
                <h2>{{ team.title }}</h2>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Advisor cards -->
      <h1 class="advisor-h1">Advisors</h1>
      <div class="advisors">
        <mat-grid-list style="width: 65%; margin: 0 auto;" cols="2" rowHeight="300px" [gutterSize]="'20px'">
          <mat-grid-tile
            class="hover"
            *ngFor="let advisor of advisors"
          >
            <div routerLink="/whoweare/{{ advisor.id }}" class="card">
              <img src="{{ advisor.icon }}" />
              <div class="bottomleft">
                <h1>{{ advisor.name }}</h1>
                <h2>{{ advisor.title }}</h2>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <!-- Full View Ends -->
    <!-- Mobile view -->
    <div fxShow fxHide.gt-sm>
      <!-- Team cards -->
      <div class="team">
        <mat-grid-list cols="2" rowHeight="230px" [gutterSize]="'20px'">
          <mat-grid-tile class="hover" *ngFor="let team of teamMembers">
            <div routerLink="/whoweare/{{ team.id }}" class="card">
              <img src="{{ team.icon }}" />
              <div class="bottomleft">
                <h1>{{ team.name }}</h1>
                <h2>{{ team.title }}</h2>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Advisor cards -->
      <h1 class="advisor-h1">Advisors</h1>
      <div class="advisors">
        <mat-grid-list cols="2" rowHeight="230px" [gutterSize]="'20px'">
          <mat-grid-tile
            class="hover"
            *ngFor="let advisor of advisors"
          >
          <div routerLink="/whoweare/{{ advisor.id }}" class="card">
              <img src="{{ advisor.icon }}" />
              <div class="bottomleft">
                <h1>{{ advisor.name }}</h1>
                <h2>{{ advisor.title }}</h2>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <!-- Mobile view ends -->
    <div class="join-team">
      <h1>Interested in joining our team?</h1>
      <button routerLink="/careers">View Open Roles</button>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
<!--       <div class="card founder-card">

        <mat-grid-list cols="3" rowHeight="400px" [gutterSize]="'20px'">
          <mat-grid-tile class="left-tile" [colspan]="1" [rowspan]="1">
            <div>
              <img
                src="{{founder[0].icon}}"
                alt=""
              />
              <h2>{{founder[0].name}}</h2>
              <h4>{{founder[0].credentials}}</h4>
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="right-tile" [colspan]="2" [rowspan]="1">
            <div>
              <h1>CEO/Founder</h1>
              <p>
                {{founder[0].text}}
              </p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div> -->
<!-- <div class="card founder-card">
        <mat-grid-list cols="1" rowHeight="90px" [gutterSize]="'20px'">
          <mat-grid-tile class="left-tile left-tile-top" [colspan]="1" [rowspan]="3">
            <div>
              <img
                src="{{founder[0].icon}}"
                alt=""
              />
              <h2>{{founder[0].name}}</h2>
              <h4>{{founder[0].credentials}}</h4>
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="right-tile bottom" [colspan]="1" [rowspan]="3">
            <div>
              <h1>CEO/Founder</h1>
              <p>
                {{founder[0].text}}
              </p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div> -->
