<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/home -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>
    <div class="content1">
      <h3 id="loginHeading">Job Openings</h3>
    </div>
    <div class="card">
      <div class="card-container">
        <h3>Software Development</h3>
        <hr />
        <h5>Job Title</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla diam
          massa, tincidunt nec quam eget, fringilla iaculis nibh. Vivamus
          mollis, nulla vitae luctus ornare, ipsum mauris congue massa, sit amet
          interdum ante dolor quis mauris.

          <br />
          <strong>Location: </strong> Location
          <br />

          <button type="button" class="helpBtn">Apply</button>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <h3>Design</h3>
        <hr />
        <h5>Job Title</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla diam
          massa, tincidunt nec quam eget, fringilla iaculis nibh. Vivamus
          mollis, nulla vitae luctus ornare, ipsum mauris congue massa, sit amet
          interdum ante dolor quis mauris.

          <br />
          <strong>Location: </strong> Location
          <br />

          <button type="button" class="helpBtn">Apply</button>
        </p>
      </div>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
