.content {
  padding: 35px 25px;
}

.content > mat-card {
  width: 200px;
  height: 422px;
}

.blog-card {
  border-radius: 12px;
}

.card-cat-left{
  line-height: normal;
  display: inline;
  width: 100% !important;
  color: #B27036;
}

.card-title-left{
  margin:1vh 0;
  width: 100% !important;
}

.card-read-right{
  margin-bottom: 23px;
  line-height: normal;
  display: inline;
  font-size: 15px;
  width: 100% !important;
  color: #a5a7ad;
}

.card-title {
  display: grid;
  grid-template-columns: 80% 1fr;
  align-items: flex-end;
}

.readMoreBtn{
  font-weight: 100;
  padding-left: 10px;
  color: #5C8A96;

}