<!-- Stephanie - updated compatibility with WP API objects and attributes -->
<div class="content">
  <div>
    <div>
      <mat-card class="mat-elevation-z4 blog-card" routerLink="/blog-post">
        <img mat-card-image style="max-height: 220px; object-fit: cover;" src="{{blogImg}}" />
        <mat-card-subtitle [style.color]="getColor()" class="card-cat-left">>{{blogCategories[0].name}}<br /></mat-card-subtitle>

        <!-- <mat-card-header> -->
        <div class="card-title">
          <mat-card-title class="card-title-left">Scriptchain Health</mat-card-title>
          <mat-card-title class="card-read-right">min</mat-card-title>
          <!-- </mat-card-header> -->
        </div>

        <mat-card-content style="margin-bottom: 0px;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Totam dignissimos corporis facere ab, voluptate quia!</p>
        </mat-card-content>

        <mat-card-actions >
          <button class="readMoreBtn" mat-button [routerLink]="['/blog-post',blogID]" >READ MORE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
