<!DOCTYPE html>
<html lang="zxx">
  <link
    href="http://fonts.googleapis.com/css?family=Lato:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
    </style>
  </head>
  <body>
    <!-- healthcare account confirmation -->
    <app-common-header></app-common-header>
    <div>
      <h3 class="heading">You're almost done registering.</h3>
    </div>
    <div class="card">
      <div class="card-container">
        <div class="logoHeader">
          <img src="./assets/logo6.png" style="width: auto; height: 64px" />
        </div>
        <div class="content">
          <div style="color: #75767a">Hi Firstname,</div>

          <div style="margin-top: 10px; color: #75767a">
            Thank you for taking the first steps to joining ScriptChain.
            Verifying your email address is the last step to creating your
            account.

            <strong style="color: black">
              To complete the account creation process, please click the link
              below to verify your email address.
            </strong>
          </div>
        </div>
        <div class="center">
          <button
            type="button"
            class="verifyBtn"
            style="width: 416px; height: 40px"
          >
            Verify Your Email Address
          </button>
        </div>
        <div class="content" style="margin-top: 10px; color: #75767a">
          If you have any questions or concerns, feel free to reach out to

          <strong style="color: black; text-decoration: underline">
            custome-care@scriptchain.co
          </strong>
        </div>
        <hr />
        <div class="content" style="margin-top: 10px; color: #75767a">
          This message was sent from ScriptChain LLC.,Boston, MA
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
