<link href='https://fonts.googleapis.com/css?family=Rubik One' rel='stylesheet'>
<div fxHide fxShow.gt-sm fxLayout="row">
  <div class="left" fxFlex="50" >
    <div>
      <h1>
        <p>#1</p> AI FOR <a href="#">READMISSION</a> & <a href="#">CARDIOVASCULAR DISEASE</a> PREVENTION
      </h1>
      <button>Request Demo</button>
    </div>
  </div>
  <div class="image" fxFlex="50" style="background-image: url(https://img.freepik.com/free-photo/medium-shot-doctor-holding-tablet_23-2148868093.jpg?size=626&ext=jpg);">
  </div>
</div>

<div fxShow fxHide.gt-sm fxLayout="column">
  <div class="left top">
    <div>
      <h1 class="smallWelcome">
        <p>#1</p> AI FOR <a href="#">READMISSION</a> & <a href="#">CARDIOVASCULAR DISEASE</a> PREVENTION
      </h1>
      <button>Request Demo</button>
    </div>
  </div>
  <div class="image bottom"  style="background-image: url(https://img.freepik.com/free-photo/medium-shot-doctor-holding-tablet_23-2148868093.jpg?size=626&ext=jpg)">
  </div>
</div>


<!-- <p>#1</p> AI FOR <a href="#">READMISSION</a> & <a href="#">CARDIOVASCULAR DISEASE</a> PREVENTION -->
