.box {
  width: 48px;
  height: 48px;
  left: 0px;

  margin-left: 18px;
  /* Teal 100 */

  background: #e6eff1;
  border-radius: 8px;
}
.oval {
  width: 32px;
  height: 42px;

  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  margin-bottom: 6.25%;
  background: #5c8a96;
  margin-left: 16.67%;
}
.profile-pic {
  max-width: 144px;
  max-height: 144px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.profile-container {
  float: right;
  margin-top: 8px;
  margin-right: 16px;
}
