<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- Header container div-->
    <div
      class="header"
      style="
        height: 64px;
        left: 0px;
        top: 0px;

        /* Teal 400 */

        background: #2d5059;
        /* Drop Shadow E300 */

        box-shadow: 0px 6px 16px rgba(31, 33, 38, 0.15);
      "
    >
      <a routerLink="/home"><img src="./assets/company-logo/scriptchain-health-logo.svg" style="height: 64px" /></a>
      <!-- 
      Avatar Signup Container -->
      <div class="profile-container" style="float: right">
        <img
          src="./assets/avatarSignup.png"
          style="height: 48px; width: 48px; margin-top: 8px; margin-right: 8px"
        />
      </div>
    </div>
  </body>
</html>
