<head>
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">
   
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mx-sm-4" href="#"><b>ScriptChain</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      
      <li class="nav-item dropdown mx-sm-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src ="../../assets/medicalhistory.png"> Medical History
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown mx-sm-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src ="../../assets/prescription.png"> Prescription History
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown mx-sm-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src ="../../assets/insurancecard.png"> Insurance Information
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown mx-sm-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="modal" data-target="#doctornote" aria-haspopup="true" aria-expanded="false">
            <img src ="../../assets/doctornote.png"> Doctor's Note
        </a>
        <div class="modal fade" id="doctornote" tabindex="-1" role="dialog" aria-labelledby="doctornotemodal" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="col-12 modal-title text-center" id="doctornote">Doctor's Note</h5>
              </div>
              <div class="modal-body">
                <h6>Doctor 1</h6>
                
                Lorem ipsum dolor sit amet, usu solum docendi an, et mundi necessitatibus nec. His et posse ubique dictas.  Nostrud temporibus mei at, movet iracundia assueverit pri an. Probo essent officiis ut ius. 
                <a href="#d1expand" data-toggle="collapse">more</a>
              
              <div id="d1expand" class="collapse">
              Has iriure pertinacia ne. Ex pri enim adolescens neglegentur, congue vidisse honestatis id sea.
              </div>
                <hr>
                <h6>Dcotor 2</h6>
                <p>Quot iisque at eam, aeque gubergren consetetur at his, oporteat honestatis scribentur qui ei. In eos tollit facete vituperatoribus, percipit praesent petentium te has, cum ad omnes quidam deserunt. Populo invidunt ius ad, et eirmod aeterno detracto duo, sit eirmod mnesarchum efficiantur ad. Quot reque eu mei. Meis graeco placerat cu qui. Sit verear diceret no, ad everti ceteros erroribus quo.</p>
                <hr>
                <h6>Dcotor 3</h6>
                <p>Quot iisque at eam, aeque gubergren consetetur at his, oporteat honestatis scribentur qui ei. In eos tollit facete vituperatoribus, percipit praesent petentium te has, cum ad omnes quidam deserunt. Populo invidunt ius ad, et eirmod aeterno detracto duo, sit eirmod mnesarchum efficiantur ad. Quot reque eu mei. Meis graeco placerat cu qui. Sit verear diceret no, ad everti ceteros erroribus quo.</p>
                <hr>
                <h6>Dcotor 4</h6>
                <p>Quot iisque at eam, aeque gubergren consetetur at his, oporteat honestatis scribentur qui ei. In eos tollit facete vituperatoribus, percipit praesent petentium te has, cum ad omnes quidam deserunt. Populo invidunt ius ad, et eirmod aeterno detracto duo, sit eirmod mnesarchum efficiantur ad. Quot reque eu mei. Meis graeco placerat cu qui. Sit verear diceret no, ad everti ceteros erroribus quo.</p>
                <hr>
                <h6>Dcotor 5</h6>
                <p>Quot iisque at eam, aeque gubergren consetetur at his, oporteat honestatis scribentur qui ei. In eos tollit facete vituperatoribus, percipit praesent petentium te has, cum ad omnes quidam deserunt. Populo invidunt ius ad, et eirmod aeterno detracto duo, sit eirmod mnesarchum efficiantur ad. Quot reque eu mei. Meis graeco placerat cu qui. Sit verear diceret no, ad everti ceteros erroribus quo.</p>
              
              </div>
              <div class="modal-footer">
                   <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
     
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
    <ul class="navbar-nav ml-auto">
      <!----><li class="nav-item mx-sm-4">
          <button type="button" (click)="logout()" class="btn btn-primary btn-sm"><b>Logout</b></button>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-4">
  <h1><b>Welcome</b></h1>
</div>
