<body>
  <app-patient-navbar></app-patient-navbar>
  <div class="container mt-4">
    <div class="container">
      
      <div class="row row-cols-4">
        <div class="col-xs-2">
          <img src="../../assets/leslie.jpg" width="120" height="120">
         </div>
         <div class="col-md-4" id="firstname">
         </div>
         <div class="col-md-4" id="dob">
        </div>
        <div class="col-md-2" id="sex">
        </div>

      </div>
      <div class="row">
        
      </div>
    </div>

    <h1 id="firstname"></h1>
  </div>
  <app-patient-statistics></app-patient-statistics>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-148334798-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-148334798-1");
  </script>
</body>
