.navbar{
    padding:0!important;
}

.brand{
    padding: .5rem 1rem;
    background-color: whitesmoke;
    font-family: cursive;
    width: 190px;
}

.brand-link:link,.brand-link:visited,.brand-link:hover,.brand-link:active{
    color:black;
}