 <!-- header -->
 <div>
  <!-- <header>
    <div class="top-bar py-3">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-8 top-social-agile text-lg-left text-center">
            <div class="row">
              <div class="col-4 header-top_w3layouts">
                <p class="text-bl">
                  <span class="fa fa-map-marker mr-2"></span>Boston, MA
                </p>
              </div>
              <div class="col-4 header-top_w3layouts">
                <p class="text-bl">
                  <span class="fa fa-phone mr-2"></span>Add phone
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-6 col-md-4 top-social-agile text-md-right text-center mt-md-0 mt-2">
            <div class="row">
              <div class="offset-xl-6 offset-lg-4">
              </div>
              <div class="col-xl-3 col-lg-4 col-6 top-w3layouts p-md-0 text-right">
                <a routerLink="/login" class="login-button-2 text-uppercase text-bl">
                  <span class="fa fa-sign-in mr-2"></span>Login</a>
              </div>
              
              <div class="col-xl-3 col-lg-4 col-6 header-w3layouts text-md-right text-left">
                <a routerLink="/register" class="login-button-2 text-uppercase text-bl">
                  <span class="fa fa-pencil-square-o mr-2"></span>Register</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </header> -->
  <!-- //top header -->

<!-- //second header -->
<!-- <div class = "main-top-home">
  <div class = "container">
    <div class="grid py-3">
      <div class="scriptchainLogo">
        <h1>
          <a href="/home">
            <span class="logo-scriptchain">ScriptChain</span>
          </a>
        </h1>
      </div> -->
      <!-- <div class="otherLink2" *ngIf='isCollapsed'>
        <a routerLink="/home" class="homeLogin" >Home</a>
        <a routerLink="/login" class = "box-test"><button class="btn-type">Sign In</button></a>
        <a href="/contact-us" class = "contactUsLogin">Contact Us</a>
      </div> -->
<!--       <div class="otherLink">
        <a routerLink="/home" class="homeLogin"routerLinkActive="active" >Home</a>
        <a routerLink="/request-access"  class = "requestAccessLogin" routerLinkActive="active">Request Access</a>
        <a href="/contact-us" class = "contactUsLogin" routerLinkActive="active">Contact Us</a> -->

  <!-- second header -->
  <div class="main-top">
      <div class="container">
        <div class="header d-md-flex justify-content-between align-items-center py-3">
          <!-- logo -->
          <div id="logo">
            <h1>
              <a routerLink="/home">
                <span class="fa fa-user-md mr-2"></span>
                <span class="logo-sp">ScriptChain</span>
  
              </a>
            </h1>
          </div>
          <!-- //logo -->
          <!-- nav -->
          <div class="nav_w3ls">
            <nav>
              <label for="drop" class="toggle">Menu</label>
              <input type="checkbox" id="drop" />
              <ul class="menu">
                <li routerLinkActive="active"><a routerLink="/home" class="active">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/request-access"  class="mx-lg-4 mx-md-3 my-md-0 my-2">Request Access</a></li>
                <li routerLinkActive="active"><a routerLink="/contact-us">Contact Us</a></li>
              </ul>
            </nav>
          </div>
          <!-- //nav -->
        </div>
      </div>
    </div>
  </div>
</div>