<!-- header -->
<div>
<!-- //second header -->
  <div class = "main-top-home">
  <div class = "container">
    <div class="grid py-3">
      <div class="scriptchainLogo">
        <h1>
          <a href="/home">
            <span class="logo-scriptchain">ScriptChain</span>
          </a>
        </h1>
      </div>
      <!-- <div class="otherLink2" *ngIf='isCollapsed'>
        <a routerLink="/home" class="homeLogin" >Home</a>
        <a routerLink="/login" class = "box-test"><button class="btn-type">Sign In</button></a>
        <a href="/contact-us" class = "contactUsLogin">Contact Us</a>
      </div> -->
      <div class="otherLink">
        <a routerLink="/home" class="homeLogin"routerLinkActive="active" >Home</a>
        <a routerLink="/request-access"  class = "requestAccessLogin" routerLinkActive="active">Request Access</a>
        <a href="/contact-us" class = "contactUsLogin" routerLinkActive="active">Contact Us</a>
      </div>
    </div>
 </div>
