<div class="body">
  <!-- Control Left -->
  <div class="control left">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"
      ><i class="fa fa-chevron-left"></i
    ></a>
  </div>

  <div class="container my-4">
    <!-- H1 -->
    <h1 class="carousel-header">What are our users saying</h1>
    <!--Carousel Wrapper-->
    <div
      id="multi-item-example"
      class="carousel slide"
      data-type="carousel"
      data-interval="false"
    >
      <!--Slides-->
      <div class="carousel-inner">
        <!--First slide-->

        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="../../assets/icons/round blue people avatar.png"
                  alt="Card image cap"
                />
                <div class="upper">
                  <h3>Dr. Mody</h3>
                  <h4>Professor of Medicine</h4>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    If we had a tool to help point out high risk patient so we
                    can intervene and prevent illnesses, that would be very
                    beneficial for everyone involved
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="../../assets/icons/round blue people avatar.png"
                  alt="Card image cap"
                />
                <div class="upper">
                  <h3>Dr. Beahr</h3>
                  <h4>Retired Cardiologist</h4>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    AI is something that makes sense out of chaos. It connects
                    the dots.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-2">
                <img
                  class="card-img-top"
                  src="../../assets/icons/round blue people avatar.png"
                  alt="Card image cap"
                />
                <div class="upper">
                  <h3>Nicole Lincoln</h3>
                  <h4>Head of Nursing Innovation</h4>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Medicine in the US is pretty reactive and not preventative
                    which is a problem.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-4">
            <div class="card mb-2">
              <img
                class="card-img-top"
                src="../../assets/icons/round blue people avatar.png"
                alt="Card image cap"
              />
              <div class="upper">
                <h3>Dr. David</h3>
                <h4>Denmark MD, MPH</h4>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Artificial Intelligence has the potential to improve our
                    current healthcare system by increasing speed, efficiency,
                    and effectiveness allowing physicians to provide more
                    accurate and up to date care to our patients while speeding
                    up workflow and improving patient outcomes.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.First slide-->
    </div>
    <!--/.Slides-->

    <!--/.Carousel Wrapper-->
  </div>
  <!-- Right Controler -->
  <div class="control right">
    <a class="btn-floating" href="#multi-item-example" data-slide="next"
      ><i class="fa fa-chevron-right"></i
    ></a>
  </div>
</div>
