.footer {
  position: absolute;
  bottom: 0%;
}

.copyright-container label {
  color: white;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin-top: 22.8px;
  float: right;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: right;
}

body {
  background-color: #faf6f2;
}
