<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2250267, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>
    <div class="content1">
      <h3 id="loginHeading">Contact Us</h3>
      <p style="font-size: 20px; font-weight: bold">
        We look forward to serve you. Feel free to fill that form and we will
        get back to you as soon as possible.
      </p>
    </div>
    <div class="quesForm">
      <form>
        <label>First Name</label>
        <br />
        <input type="text" />
        <br />
        <label>Last Name</label>
        <br />
        <input type="text" />
        <br />
        <label>Email</label>
        <br />
        <input type="text" /> <br />
        <label>Message</label>
        <br />
        <textarea></textarea><br />

        <button
          type="button"
          class="sendBtn"
          style="margin-left: 0px; width: 195px"
        >
          Send Message
        </button>
      </form>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
