h2 {
  font-family: 'Tinos', serif;
  font-size: 32px;
  font-weight: regular;
  color: #2D5059;
}

p {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  display: flex;
  font-family: Lato;
  font-size: 24px;
  color: #2d5059;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

table,
th,
td {
  border: 2px solid #e1e4eb;
  border-radius: 8px;
}

#basic {
  border-radius: 8px;
}
.form-control {
  /* Rectangle 90 */

  position: relative;
  height: 40px;
  width: fit-content;

  /* White */

  background: #ffffff;
  /* Grey 200 */

  border: 2px solid #e1e4eb;
  box-sizing: border-box;
  /* Inner Shadow E-100 */

  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
}

.date-button {
  /* Inline Radio Button */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7.5px 16px;

  position: static;
  width: auto;
  height: 32px;
  left: 0px;
  top: 0px;

  /* Teal 100 */

  background: #e6eff1;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.date-selection {
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 7%;
}

.quick-selection {
  padding-top: 2%;
  padding-left: 5%;
}

.group {
  width: 60%;
  margin: auto;
  background: rgb(241, 238, 233);
  padding: 15px;
  margin-top: 12px;
}

.place {
  height: 100px;
  width: 800px;
}
table {
  width: 100%;
  overflow:hidden;

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#basic,
#advanced {
  background-color: white;
}

.btn-turq {
  background-color: teal;
  color: white;
  width: 100px;
}
.button-grp {
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 10px;
}
.container {
  font-family: "Lato";
  color: #575b66;
  font-weight: 400;
  font-style: normal;
  background-color: #faf6f2;
  max-width: 80%;
}

#myTabContent {
  padding-top: 2%;

}
.tab-pane {
  border-radius: 8px;
}

.box {
  background-color: white;
  margin-bottom: 5%;
  border-radius: 8px;

}
.btn-details {
  background-color: teal;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: -8%;
  margin-top: 2%;
}
.nav-item a {
  color: #2d5059;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline;
}



.date-item a {
  color: #2d5059;
  font-family: "Lato", sans-serif;
}

.text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #575b66;
  margin-left: 5.1%;
  padding-top: 3%;
}

.first-row {
  border-bottom: 2px solid #e1e4eb;
  padding-bottom: 3%;
}

.form-row {
  display: grid;
  padding-left: 5%;
}

input {
  width: 109%;
}

.controls {
  display: flex;
}

.radio {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #575B66;
  padding: 7.5px 16px;
  border-radius: 8px;
}

.controls input{
  visibility: hidden;
}



label {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #1D1F26;
}

input:checked + .radio {
    background-color: #E6EFF1;
}
input:checked + label {
    color: #2D5059;
}

.box .row1 {
  padding-top: 1%;
  padding-left: 5%;
}

.nav-item1 {
  width: 18%;
}

.search {
  width: 18.75px;
  height: 18.75px;
}

img {
  overflow:hidden;
}
