<!-- Sammy - add blog page link -->
<div class="nav">
  <mat-toolbar>
    <button
      class="dropdown"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      fxShow
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a style="margin-left: 15px" fxShow fxHide.gt-sm routerLink="/home"
      ><img
        src="../../assets/company-logo/scriptchain-health-logo.svg"
        style="height: 64px"
    /></a>
    <mat-menu class="matMenu" #menu="matMenu">
      <button routerLink="/partnerships" mat-menu-item>Partnerships</button>
      <button mat-menu-item>Blog</button>
      <button mat-menu-item>About</button>
      <button mat-menu-item>Support</button>
      <button mat-menu-item>Log In</button>
      <button mat-menu-item>Sign Up</button>
    </mat-menu>
    <mat-toolbar
      class="leftHeader"
      fxHide
      fxShow.gt-sm
      fxLayoutAlign="start center"
      fxFlex="100"
    >
      <span
        ><a routerLink="/home"
          ><img
            src="../../assets/company-logo/scriptchain-health-logo-dark.svg"
            style="height: 64px" /></a
      ></span>
      <div>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <!-- #docregion mat-menu-trigger-for -->
        <button mat-button routerLink="/partnerships">Partnership</button>

        <!-- #docregion mat-menu-trigger-for -->
        <button mat-button>Blog</button>

        <!-- #docregion mat-menu-trigger-for -->
        <button mat-button>About</button>

        <!-- #docregion mat-menu-trigger-for -->
        <button mat-button>Support</button>
      </div>
    </mat-toolbar>
    <mat-toolbar class="right">
      <div class="rightHeader" fxFlex="100" fxLayoutAlign="end center">
        <div fxHide fxShow.gt-sm>
          <button mat-icon-button>
            <mat-icon class="search">search</mat-icon>
          </button>
          <button
            onclick="window.location.href='healthcare/login'"
            class="login"
            mat-button
          >
            Log in
          </button>
          <button class="signup" mat-flat-button color="primary">
            Sign Up
          </button>
        </div>
      </div>
    </mat-toolbar>
  </mat-toolbar>
</div>
