<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span
        ><a href="home"><img src="./assets/logo6.png" style="height: 56px" /></a
      ></span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <!-- #docregion mat-menu-trigger-for -->
        <button mat-button [matMenuTriggerFor]="menu">About</button>
        <!-- #enddocregion mat-menu-trigger-for -->
        <mat-menu #menu="matMenu">
          <a href="javascript:void(0)" mat-menu-item>What is ScriptChain?</a>
          <a href="javascript:void(0)" mat-menu-item>Capability Statement</a>
          <a href="whoweare" mat-menu-item>Our Team</a>
          <a href="javascript:void(0)" mat-menu-item>Blog</a>
        </mat-menu>

        <!-- #docregion mat-menu-trigger-for -->
        <button mat-button [matMenuTriggerFor]="menu1">Partnerships</button>
        <!-- #enddocregion mat-menu-trigger-for -->
        <mat-menu #menu1="matMenu">
          <a href="javascript:void(0)" mat-menu-item>Our Partners</a>
          <a href="javascript:void(0)" mat-menu-item>Become a Partner</a>
        </mat-menu>
        <a href="healthcare/login" mat-button> Providers </a>
        <a href="javascript:void(0)" mat-button> Patients </a>

        <!-- #docregion mat-menu-trigger-for -->
        <button mat-button [matMenuTriggerFor]="menu2">Support</button>
        <!-- #enddocregion mat-menu-trigger-for -->
        <mat-menu #menu2="matMenu">
          <a href="#" mat-menu-item>Request Access</a>
          <a href="faq1" mat-menu-item>FAQs</a>
        </mat-menu>
        <a href="javascript:void(0)" mat-button> Contact Us </a>
        <button class="helpBtn" mat-raised-button>Login</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <mat-accordion class="app-nav-accordion">
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>About</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a href="javascript:void(0)" mat-list-item>What is ScriptChain?</a>
              <a href="javascript:void(0)" mat-list-item
                >Capability Statement</a
              >
              <a href="whoweare" mat-list-item>Our Team</a>
              <a href="javascript:void(0)" mat-list-item>Blog</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
        <a href="javascript:void(0)" mat-list-item> Partnerships </a>
        <a href="javascript:void(0)" mat-list-item> Providers</a>
        <a href="javascript:void(0)" mat-list-item> Patients </a>
        <a href="javascript:void(0)" mat-list-item> Support </a>
        <a href="javascript:void(0)" mat-list-item> Contact Us </a>
        <a href="healthcare/login" mat-list-item> Login</a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
