/* DenisH */


.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom: 1px #2d50599c solid;
  box-shadow: 0 2px 55px 1px #2d5059c9
}

.mat-toolbar {
  background: #2d5059;
  margin: 0;
  padding: 0;
}

.dropdown {
  margin-top: 7px;
  left: 15px;
}

.leftHeader {
  background-color: seashell;
  padding-left: 15px;
}

.leftHeader button {
  text-decoration: none;
  color: teal;
  font-family: "Lato";
  font-weight: medium;
  margin: 0 6px;
}

.right {
  padding-right: 15px;
}

.rightHeader {
  width: 100%;
  margin-right: 15px;
}

.rightHeader div div button {
  margin: 0 3px;
}

.login {
  color: seashell;
}

.signup {
  background-color: seashell;
  color: teal;
  font-family: "Lato";
  font-weight: bold;
}

/* Search bar */

.search {
  position: relative;
  background: white;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  transition: 0.2s;
}

.search mat-icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.search input {
  position: absolute;
  top: 9px;
  left: 40px;
  border: none;
  outline: none;
  width: 80%;
}

.active {
  width: 300px;
  border-radius: 50px;
}

/*  */
button:focus {
  outline: none;
}
