/* DenisH */
.nav{
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom: 1px #2d50599c  solid;
  box-shadow: 0 2px 55px 1px #2d5059c9
}
.mat-toolbar{
  background: #2d5059;
  margin: 0;
  padding: 0;
}
.dropdown{
  margin-top: 7px;
  left: 15px;
}
.leftHeader {
  background-color: seashell;
  padding-left: 15px;
}
.leftHeader button{
  text-decoration: none;
  color: teal;
  font-family: "Lato";
  font-weight: medium;
  margin: 0 6px;
}
.right{
  padding-right: 15px;
}
.rightHeader{
  width: 100%;
  margin-right: 15px;
}
.search , .login{
  color: seashell;
  font-weight: medium;
}
.signup{
  background-color: seashell;
  color: teal;
  font-family: "Lato";
  font-weight: bold;
}

