.btn{
    cursor: pointer;
}
.contain {
    width: 100%;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .scrol{
    overflow-x: scroll;
  }
  .row {
    width: 100%;
  }
  .row__inner {
    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 40.3125px 0;
    padding-bottom: 10px;
  }
  .tile {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 400px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
      transform: scale(0.8);
  }
  .tile__img {
    width: 600px;
    height: 400px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .tile__img1 {
    width: 620px;
    height: 430px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .tile:hover{
    opacity: 1;
  }
.info{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
}
  ul#capsules {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
    padding-left: 0;
  }
  ul#capsules li {
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
  }
  ul#indicators {
  list-style: none;
  margin-top: 4%;
}
ul#indicators li{
    float: left;
    display: block;
    margin-right: 7%;
    font-size:12px; 
}
#within{
    margin-left: 3em;
}
  ul li#serious::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  ul li#med::before {
    content: "\2022";
    color: yellowgreen;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  ul li#safe::before {
    content: "\2022";
    color: teal;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  #right{
    position: absolute;
    right:20px;
  }
  #left{
    position: absolute;
    right:80px;
  }
  .img{
    width:20px;
    height: 30px;
    cursor: pointer;
  }
  #leftdiv{
    position: absolute;
    z-index: 2;
    margin-top: 15%;
    left:9%;
  }
  #rightdiv{
    position: absolute;
    z-index: 2;
    right:12%;
    margin-top: 15%;
  }

  .profile{
    background-color: white;
    padding: 10px;
    box-shadow: 4px 5px 6px -6px grey;
  }

  #readmission_symptoms{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }