<!DOCTYPE html>
<html lang="zxx">
  <link
    href="http://fonts.googleapis.com/css?family=Lato:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <head>
    <!-- Hotjar Tracking Code for https://www.scriptchain.co/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2250267, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
    </style>
  </head>
  <body>
    <!-- healthcare account confirmation -->

    <div>
      <h3 class="heading">You're almost done registering.</h3>
    </div>
    <div class="card">
      <div class="card-container">
        <div class="logoHeader">
          <img src="./assets/logo6.png" style="width: auto; height: 64px" />
        </div>
        <div class="content">
          <div style="color: #1d1f26">Hi Firstname,</div>

          <div style="margin-top: 10px; color: #1d1f26">
            Thank you for joining ScriptChain. You may now log in with your
            credentials.
          </div>
        </div>
        <div class="center">
          <button
            type="button"
            class="verifyBtn"
            style="width: 416px; height: 40px"
          >
            Login
          </button>
        </div>
        <div class="content" style="margin-top: 10px; color: #1d1f26">
          If you have any questions or concerns, feel free to reach out to

          <strong style="color: black; text-decoration: underline">
            <a href="mailto:customer-care@scriptchain.co"
              >customer-care@scriptchain.co</a
            >
          </strong>
        </div>
        <hr />
        <div class="content" style="margin-top: 10px; color: #1d1f26">
          This message was sent from ScriptChain LLC.,Boston, MA
        </div>
      </div>
    </div>
  </body>
</html>
