<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/home -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>

    <div>
      <h1 id="heading">Blog</h1>
      <div class="container">
        <div class="gallery">
          <figure class="gallery__item gallery__item--1">
            <img
              src="./assets/img1.jpg"
              alt="Gallery image 1"
              class="gallery__img"
            />
          </figure>
          <figure class="gallery__item gallery__item--2">
            <img
              src="./assets/img2.jpg"
              alt="Gallery image 2"
              class="gallery__img"
            />
          </figure>
          <figure class="gallery__item gallery__item--3">
            <img
              src="./assets/img3.jpeg"
              alt="Gallery image 3"
              class="gallery__img"
            />
          </figure>
          <figure class="gallery__item gallery__item--4">
            <img
              src="./assets/img4.jpg"
              alt="Gallery image 4"
              class="gallery__img"
            />
          </figure>
          <figure class="gallery__item gallery__item--5">
            <img
              src="./assets/img5.jpg"
              alt="Gallery image 5"
              class="gallery__img"
            />
          </figure>
          <figure class="gallery__item gallery__item--6">
            <img
              src="./assets/img6.jpg"
              alt="Gallery image 6"
              class="gallery__img"
            />
          </figure>
        </div>
      </div>
      <div class="centered">
        <section class="cards">
          <article class="card">
            <img
              src="./assets/health.png"
              alt="Image not available"
              onerror="this.src='./assets/blogImg.jpg'"
            />
            <h6><strong>Blog Source</strong> // March 6, 2021</h6>
            <p>Headline for the blog</p>
          </article>
          <!-- /card-one -->

          <article class="card">
            <img
              src="./assets/healh.png"
              alt="Image not available"
              onerror="this.src='./assets/blogImg.jpg'"
            />
            <h6><strong>Blog Source</strong> // March 6, 2021</h6>
            <p>Headline for the blog</p>
          </article>
          <!-- /card-two -->

          <article class="card">
            <img
              src="./assets/healh.png"
              alt="Image not available"
              onerror="this.src='./assets/blogImg.jpg'"
            />
            <h6><strong>Blog Source</strong> // March 6, 2021</h6>
            <p>Headline for the blog</p>
          </article>
          <!-- /card-three -->
        </section>
      </div>
    </div>

    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
