<!-- Authors and their contributions: -->
<!--Tasheena: Worked on the initial page design
    Vidit: Worked on UI enhancements and responsiveness -->


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


  </head>
  <body fxLayout='column'>
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
      <div>
        <app-landing-page-header></app-landing-page-header>
      </div>
      
      <div>
        <!-- <h1 [ngStyle]="{'color':'red'}" -->
        <h1 id="heading">ScriptChain Blog</h1>
        <div class="container text-center">
          <label for="Category">Explore By Category:</label>
        
          <select name="Category" id="Category">
            <option value="Category1">Category</option>
            <option value="Category2">Category</option>
            <option value="Category3">Category</option>
          </select>
        </div>
      
        <div fxLayout="row wrap" fxLayoutAlign="space-around">
          <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.33%" fxFlex.lg="33.33%" fxFlex.xl="33.33%" *ngFor="let num of [1, 2, 3, 4, 5, 6]">
            <app-blog-card></app-blog-card>
          </div>
        </div>
      </div>
      
      <footer>
        <app-landing-page-subfooter></app-landing-page-subfooter>
      </footer>
    </div>
  </body>


