<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2250267, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>
    <div>
      <h3 class="loginHeading">What is ScriptChain?</h3>
      <div class="row">
        <div class="col">
          <div class="card">
            <h3>Preventative Healthcare</h3>
            <p>
              Covering the first half of quality healthcare which is to prevent
              and lower the risk of hear disease.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="rectangle">Video</div>
        </div>
      </div>
      <!--Row1-->
      <div class="row">
        <div class="col">
          <div class="rectangle">Video</div>
        </div>
        <div class="col">
          <div class="card">
            <h3>Time Savings</h3>
            <p>
              We significantly reduce the amount of time spent reviewing medical
              data and make more time for caring for patients.
            </p>
          </div>
        </div>
      </div>
      <!---Row2-->
      <div class="row">
        <div class="col">
          <div class="card">
            <h3>Artificial Intelligence</h3>
            <p>
              Using deep learning models to help consolidate and make actionable
              outcomes using medical data.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="rectangle">Video</div>
        </div>
      </div>
      <!--Row1-->
      <div class="row">
        <div class="col">
          <div class="rectangle">Video</div>
        </div>
        <div class="col">
          <div class="card">
            <h3>Plug-in Platform</h3>
            <p>
              ScriptChain integrates with EMR systems like EPIC systems,
              Athenahealth, Cerner, ALlscripts, and soon to be eClinical.
            </p>
          </div>
        </div>
      </div>
      <!---Row2-->
      <div class="row">
        <div class="col">
          <div class="card">
            <h3>Data Accuracy</h3>
            <p>
              Being able to track and trace all your inputs into the system with
              log information easily available.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="rectangle">Video</div>
        </div>
      </div>
      <!--Row1-->
      <div class="row">
        <div class="col">
          <div class="rectangle">Video</div>
        </div>
        <div class="col">
          <div class="card">
            <h3>ACC</h3>
            <p>
              We follow the ACC guidelines in how AI algorithms are developed
            </p>
          </div>
        </div>
      </div>
      <!---Row2-->
      <div class="row">
        <div class="col">
          <div class="card">
            <h3>HIPAA & HITECH</h3>
            <p>
              We are a cloud application that is HIPAA compliant and HITECH
              compliant.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="rectangle">Video</div>
        </div>
      </div>
      <!--Row1-->
      <div class="row">
        <div class="col">
          <div class="rectangle">Video</div>
        </div>
        <div class="col">
          <div class="card">
            <h3>Data Security</h3>
            <p>
              We know that your medical data is important so we've made sure
              that we make data security a top priority.
            </p>
          </div>
        </div>
      </div>
      <!---Row2-->
    </div>
    <div class="center">
      <h3 style="text-align: center">Ready to sign up?</h3>
      <button type="button" class="signUpBtn">Sign Up</button>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
