<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/home -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>

  <body>
    <app-landing-page-header></app-landing-page-header>
    <div
      class="content-card pb-5"
      style="
        background-image: url(./assets/7T9364v.gif);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      "
    >
      <div class="content">
        <h1 class="heading" style="color: #ffffff">Welcome to ScriptChain Health</h1>
        <p style="color: #ffffff">
          An AI based digital health company that focuses on preventive medicine
          tailored to cardiovascular disease and readmission rates.
        </p>
        <div class="button-wrap">
          <button type="button" onclick="window.location.href='healthcare/register'" class="signUpBtn" style="margin-left: 142px">
            Sign Up
          </button>

          <a type="button" class="helpBtn" href="https://scriptchain-whitepaper.s3.us-east-2.amazonaws.com/Scriptchain+Health+WhitePaper+.pdf">ScriptChain White Paper</a>
                   
        </div>
      </div>
    </div>
    <div class="content2">
      <h2 style="margin-bottom: 30px">At a Glance</h2>

      <!--<div class="row">-->
      <mat-grid-list
        [cols]="breakpoint"
        rowHeight="220px"
        (window:resize)="onResize($event)"
      >
        <!--<div class="col">-->
        <mat-grid-tile>
          <div class="card1">
            <img src="./assets/brain.png" style="float: left" />
            <h3>Artificial Intelligence</h3>
            <p>
              Using deep learning models to help consolidate and make actionable
              outcomes using patient medical data.
            </p>
          </div>
        </mat-grid-tile>
        <!--</div>-->
        <!--Col1-->
        <!--<div class="col">-->
        <mat-grid-tile>
          <div class="card1">
            <img src="./assets/stethoscope.png" style="float: left" />
            <h3>Preventive Healthcare</h3>
            <p>
              Covering the first half of quality healthcare which is to prevent
              and lower the risk of heart disease.
            </p>
          </div>
        </mat-grid-tile>
        <!--</div>-->
        <!--Col1-->
        <!--<div class="col">-->
        <mat-grid-tile>
          <div class="card1">
            <img src="./assets/lock.png" style="float: left" />
            <h3>Data Security</h3>
            <p>
              We know that your medical data is important so we've made sure
              that we make data security a top priority.
            </p>
          </div>
        </mat-grid-tile>
        <!--</div>-->
        <!--Col1-->
        <!--<div class="col">-->
        <mat-grid-tile>
          <div class="card1">
            <img src="./assets/dataAccuracyImg.png" style="float: left" />
            <h3>Data Accuracy</h3>
            <p>
              Being able to track and trace all your inputs into the system with
              log information easily available.
            </p>
          </div>
        </mat-grid-tile>
        <!--</div>-->
        <!--Col1-->
        <!--</div>-->
      </mat-grid-list>
      <!---Row-->
      <div style="align-items: center; margin-top: 33px; margin-bottom: 33px">
        <button type="button" onclick="window.location.href='healthcare/register'" class="signUpBtn-clear">Sign Up</button>
        <a [routerLink]="['/whatisscriptchain']">
          <button type="button" class="helpBtn helpBtn-inv">Learn More</button>
        </a>
      </div>
    </div>
    <!--Content2-->
    <div class="content3">
      <h3>Why ScriptChain Health?</h3>
      <div class="row">
        <div class="col">
          <div class="item">
            <label>What physicians are saying</label>

            <mat-carousel
              timings="250ms ease-in"
              [autoplay]="true"
              interval="6000"
              color="primary"
              maxWidth=""
              proportion="200"
              slides="2"
              [loop]="true"
              [hideArrows]="true"
              [hideIndicators]="true"
              [useKeyboard]="true"
              [useMouseWheel]="false"
              orientation="ltr"
            >
              <mat-carousel-slide overlayColor="none">
                <div class="card2">
                  <blockquote class>
                    "AI is something that makes sense out of chaos. It connects
                    the dots."
                  </blockquote>
                  <figcaption>
                    &mdash;<cite
                      >Dr. Beahrs retired Cardiologist at HealthEast Saint
                      Josephs Hospital</cite
                    >
                  </figcaption>
                </div>
              </mat-carousel-slide>
              <mat-carousel-slide overlayColor="none">
                <div class="card2">
                  <blockquote>
                    "If we had a tool to help point out high risk patient so we
                    can intervene and prevent illnesses, that would be very
                    beneficial for everyone involved."
                  </blockquote>
                  <figcaption>
                    &mdash;<cite
                      >Dr. Mody Professor of Medicine, David Geffen School of
                      Medicine at UCLA.</cite
                    >
                  </figcaption>
                </div>
              </mat-carousel-slide>
            </mat-carousel>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <label>What healthcare workers are saying</label>

            <mat-carousel
              timings="250ms ease-in"
              [autoplay]="true"
              interval="6000"
              color=""
              maxWidth=""
              proportion="200"
              slides="2"
              [loop]="true"
              [hideArrows]="true"
              [hideIndicators]="true"
              [useKeyboard]="true"
              [useMouseWheel]="false"
              orientation="rtl"
              maintainAspectRatio="false"
            >
              <mat-carousel-slide overlayColor="none">
                <div class="card2">
                  <blockquote>
                    "Medicine in the US is pretty reactive and not preventative
                    which is a problem."
                  </blockquote>
                  <figcaption>
                    &mdash;<cite>
                      Nicole Lincoln Head of Nursing Innovation.</cite
                    >
                  </figcaption>
                </div>
              </mat-carousel-slide>
              <mat-carousel-slide overlayColor="none">
                <div class="card2">
                  <blockquote>
                    “Artificial Intelligence has the potential to improve our
                    current healthcare system by increasing speed, efficiency,
                    and effectiveness allowing physicians to provide more
                    accurate and up to date care to our patients while speeding
                    up workflow and improving patient outcomes.”
                  </blockquote>
                  <figcaption>
                    &mdash;<cite>Dr. David Denmark MD, MPH</cite>
                  </figcaption>
                </div>
              </mat-carousel-slide>
            </mat-carousel>
          </div>
        </div>
      </div>
    </div>

    <div class="content2">
      <h2>Partnerships</h2>

      <span
        style="
          text-align: center;

          margin-top: 8px;
          font-size: 19px;
        "
      >
        ScriptChain partners with the most innovative leaders in the market to
        help achieve better healthcare for all.
      </span>
      <!-- <mat-grid-list
        [cols]="breakpoint"
        rowHeight="220px"
        (window:resize)="onResize($event)"
      >
       <div class="col">-->
      <!-- <mat-grid-tile>
          <div class="card1"></div>
        </mat-grid-tile> -->
      <!--</div>-->
      <!--Col1-->
      <!--<div class="col">-->
      <!-- <mat-grid-tile>
          <div class="card1"></div>
        </mat-grid-tile> -->
      <!--</div>-->
      <!--Col1-->
      <!--<div class="col">-->
      <!-- <mat-grid-tile>
          <div class="card1"></div>
        </mat-grid-tile> -->
      <!--</div>-->
      <!--Col1-->
      <!--<div class="col">-->
      <!-- <mat-grid-tile>
          <div class="card1"></div>
        </mat-grid-tile> -->
      <!--</div>-->
      <!--Col1-->
      <!--</div>-->
      <!-- </mat-grid-list> -->
      <!---Row-->
      <div style="align-items: center; margin-top: 33px; margin-bottom: 33px">
        <button type="button" class="partnerBtn">Become a Partner</button>
      </div>
    </div>
    <!--Content2-->
    <div class="content4">
      <h3>Questions?</h3>
      <p
        style="
          text-align: center;

          margin-top: 8px;
          font-size: 18px;
          color: #ffffff;
        "
      >
        We look forward to serve you. Feel free to fill that form and we will
        get back to you as soon as possible.
      </p>
      <div class="quesForm">
        <form (ngSubmit)="onContactClicked(form)" #form="ngForm">
          <label>First Name</label>
          <br />
          <input
            type="text"
            ngModel
            name="fname"
            required
            #firstName="ngModel"
          />
          <p class="help-block" *ngIf="!firstName.valid && firstName.touched">
            Please enter a valid first name
          </p>
          <br />
          <label>Last Name</label>
          <br />
          <input
            type="text"
            ngModel
            name="lname"
            required
            #lastName="ngModel"
          />
          <p class="help-block" *ngIf="!lastName.valid && lastName.touched">
            Please enter a valid last name
          </p>
          <br />
          <label>Email</label>
          <br />
          <input
            type="text"
            ngModel
            required
            email
            name="email"
            #email="ngModel"
          />
          <br />
          <p class="help-block" *ngIf="!email.valid && email.touched">
            Please enter a valid email address
          </p>
          <label>Message</label>
          <br />
          <textarea
            ngModel
            required
            name="message"
            #message="ngModel"
          ></textarea>
          <p class="help-block" *ngIf="!message.valid && message.touched">
            Please enter a valid message
          </p>
          <br />

          <button
            type="submit"
            class="sendBtn"
            style="margin-left: 0px; width: 195px"
            [disabled]="!form.valid"
          >
            Send Message
          </button>
        </form>
      </div>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
