<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2250267, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>

    <div class="content-card">
      <div class="content" style="margin-left: 142px">
        <h1 class="heading">Welcome to ScriptChain</h1>
        <p>
          AI-based platform that helps assist physicians in identifying
          high-risk patients of readmission and cardiovascular disease with
          actionable insights.
        </p>
        <button type="button" class="signUpBtn">Sign Up</button>
        <button type="button" class="helpBtn">Learn More</button>
      </div>
    </div>
    <div class="content2">
      <h2>At a Glance</h2>

      <p style="text-align: center; margin-left: 344px; margin-top: 8px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="row">
        <div class="col">
          <div class="card1">
            <img src="./assets/brain.png" style="float: left" />
            <h3>Artificial Intelligence</h3>
            <p>
              Using deep learning models to help consolidate an make actionable
              outcomes using patient medical data.
            </p>
          </div>
        </div>
        <!--Col1-->
        <div class="col">
          <div class="card1">
            <img src="./assets/stethoscope.png" style="float: left" />
            <h3>Preventive Healthcare</h3>
            <p>
              Covering the first half of quality healthcare which is to prevent
              and lower the risk of hear disease.
            </p>
          </div>
        </div>
        <!--Col1-->
        <div class="col">
          <div class="card1">
            <img src="./assets/lock.png" style="float: left" />
            <h3>Data Security</h3>
            <p>
              We know that your medical data is important so we've made sure
              that we make data security a top priority.
            </p>
          </div>
        </div>
        <!--Col1-->
        <div class="col">
          <div class="card1">
            <img src="./assets/dataAccuracyImg.png" style="float: left" />
            <h3>Data Accuracy</h3>
            <p>
              Being able tp track and trace all your inputs into the system with
              log information easily available.
            </p>
          </div>
        </div>
        <!--Col1-->
      </div>
      <!---Row-->
      <div style="align-items: center; margin-top: 33px; margin-bottom: 33px">
        <button type="button" class="signUpBtn">Sign Up</button>
        <button type="button" class="helpBtn">Learn More</button>
      </div>
    </div>
    <!--Content2-->
    <div class="content3">
      <h3>Why ScriptChain?</h3>
      <div class="row">
        <div class="col">
          <div class="item">
            <label>What physicians are saying</label>
            <div class="card2"></div>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <label>What healthcare workers are saying</label>
            <div class="card2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content2">
      <h2>Partnerships</h2>

      <p style="text-align: center; margin-left: 344px; margin-top: 8px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="row">
        <div class="col">
          <div class="card1"></div>
        </div>
        <!--Col1-->
        <div class="col">
          <div class="card1"></div>
        </div>
        <!--Col1-->
        <div class="col">
          <div class="card1"></div>
        </div>
        <!--Col1-->
        <div class="col">
          <div class="card1"></div>
        </div>
        <!--Col1-->
      </div>
      <!---Row-->
      <div style="align-items: center; margin-top: 33px; margin-bottom: 33px">
        <button type="button" class="partnerBtn">Become a Partner</button>
      </div>
    </div>
    <!--Content2-->
    <div class="content4">
      <h3>Questions?</h3>
      <p
        style="
          text-align: center;

          margin-top: 8px;
          font-size: 14px;
          color: #ffffff;
        "
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="quesForm">
        <form>
          <label>First Name</label>
          <br />
          <input type="text" />
          <br />
          <label>Last Name</label>
          <br />
          <input type="text" />
          <br />
          <label>Email</label>
          <br />
          <input type="text" /> <br />
          <label>Message</label>
          <br />
          <textarea></textarea><br />

          <button
            type="button"
            class="sendBtn"
            style="margin-left: 0px; width: 195px"
          >
            Send Message
          </button>
        </form>
      </div>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
