<!DOCTYPE html>
        <html lang="en">
        <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            </head>
        <body> 
        <div class="container">
          <div class="panel panel-primary">
          <div class="panel-heading"><h2 align="center">Welcome to ScriptChain</h2></div>
            <div class="panel-body">
                <p>Hi <span id="p1"></span>,</p>
                <p>Welcome to ScriptChain! We are glad that you have registered, there is just one more step to verify your account. Please click the link below to verify your email address. If you have any questions or concerns feel free to reach out to <a href="mailto:Moh@scriptchain.co">Moh@scriptchain.co</a></p><br>
                <p align="center"><a href="#" class="btn btn-lg btn-primary" style="width: 200px !important;"role="button">Verify</a></p>
                </div>
                <div class="panel-footer"><p align="center">This message was sent from ScriptChain LLC., Boston, MA</p></div>
          </div>
        </div>
        <script type="text/javascript">
        document.getElementById("p1").innerHTML = "<%= fname %>";
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        </body>
        </html> 