<!DOCTYPE html>
<html lang="zxx">
  <link
    href="http://fonts.googleapis.com/css?family=Lato:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
    </style>
  </head>

  <body>
    <!-- healthcare account confirmation -->
    <app-common-header></app-common-header>
    <div>
      <h3 class="heading">Your account was created!</h3>
    </div>
    <div class="card">
      <div class="card-container">
        <div class="center">
          <span
            class="fa fa-envelope fa-lg"
            style="color: #5c8a96; font-size: 76px; margin-top: 29px"
          ></span
          ><br />
          <label style="margin-top: 16 px"
            >We just need to verify your email address.</label
          >
        </div>

        <h5 style="margin-top: 16 px">
          The next step is to check your email for the message we've sent with
          furter instructions.
        </h5>
        <hr />
        <div class="center">
          <button
            type="button"
            class="helpBtn"
            style="width: 416px; height: 40px"
          >
            Help
          </button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
