<!--
    Denis: Created for Who we are
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/home -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <!-- Header -->
      <app-landing-page-header></app-landing-page-header>
    </div>

    <!-- Gives layout row -->
    <div fxHide fxShow.gt-sm>
      <!-- Upper part of container with main info -->
      <mat-grid-list class="fullNameContainer" cols="2" rowHeight="500px">
        <mat-grid-tile>
          <div class="fullName">
            <!-- Gets name and title form the object on .ts File with an Id gotten from who we are -->
            <h1>{{ teamMembers[employeeId].name }}</h1>
            <h3>{{ teamMembers[employeeId].title }}</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
              maxime, laboriosam error reprehenderit necessitatibus nesciunt
              accusantium, eveniet natus atque expedita possimus quisquam,
              perferendis fugit doloremque. Modi reprehenderit dicta molestias
              ipsum? Voluptates, illum asperiores totam quae sit laborum?
              Corporis nulla, magni modi soluta ipsam exercitationem vero
              tempore incidunt, sapiente rerum ipsum quaerat consectetur beatae
              blanditiis quae unde praesentium alias illo aliquam.
            </p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="image">
          <img src="{{ teamMembers[employeeId].icon }}" alt="" />
        </mat-grid-tile>
      </mat-grid-list>
      <div class="moreAbout">
        <h1>More about "{{ teamMembers[employeeId].name }}"</h1>
        <div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum
            obcaecati maxime nobis sequi, praesentium, temporibus, totam neque
            et fugit quam dicta doloremque. Corporis voluptatem, autem fugit
            amet tenetur nostrum quasi?Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Sit ullam nemo optio assumenda rem, tempore omnis
            ex molestiae quasi modi inventore repellat iusto voluptatibus esse.
            Id consequuntur nobis reiciendis fuga!
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
            exercitationem culpa debitis non temporibus voluptatem consequatur.
            Porro voluptatum sunt aspernatur aperiam error. Delectus natus
            dolores, rem beatae itaque magni tempore. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Veniam, assumenda hic.
            Laboriosam, adipisci! Alias in, voluptatem deleniti autem, quas, ea
            amet assumenda saepe nostrum nisi repellat ullam dolor laborum
            consequuntur.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi
            dicta eos illum voluptatibus magnam, totam ratione soluta itaque
            expedita minus animi. Labore temporibus sunt quibusdam aut qui
            molestias error obcaecati! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Temporibus, quod corporis inventore, perspiciatis
            illo veniam quibusdam ipsa cupiditate, nobis repudiandae illum
            itaque quia fuga doloremque magni. Labore quas fugit dicta.
          </p>
        </div>
      </div>
    </div>

    <div fxShow fxHide.gt-sm fxLayout="column">
      <div class="fullName top">
        <!-- Gets name and title form the object on .ts File with an Id gotten from who we are -->
        <h1>{{ teamMembers[employeeId].name }}</h1>
        <h3>{{ teamMembers[employeeId].title }}</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
          maxime, laboriosam error reprehenderit necessitatibus nesciunt
          accusantium, eveniet natus atque expedita possimus quisquam,
          perferendis fugit doloremque. Modi reprehenderit dicta molestias
          ipsum? Voluptates, illum asperiores totam quae sit laborum? Corporis
          nulla, magni modi soluta ipsam exercitationem vero tempore incidunt,
          sapiente rerum ipsum quaerat consectetur beatae blanditiis quae unde
          praesentium alias illo aliquam.
        </p>
        <img src="{{ teamMembers[employeeId].icon }}" alt="" />
      </div>
      <div class="moreAbout bottom">
        <h1>More about "{{ teamMembers[employeeId].name }}"</h1>
        <div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum
            obcaecati maxime nobis sequi, praesentium, temporibus, totam neque
            et fugit quam dicta doloremque. Corporis voluptatem, autem fugit
            amet tenetur nostrum quasi?Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Sit ullam nemo optio assumenda rem, tempore omnis
            ex molestiae quasi modi inventore repellat iusto voluptatibus esse.
            Id consequuntur nobis reiciendis fuga!
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
            exercitationem culpa debitis non temporibus voluptatem consequatur.
            Porro voluptatum sunt aspernatur aperiam error. Delectus natus
            dolores, rem beatae itaque magni tempore. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Veniam, assumenda hic.
            Laboriosam, adipisci! Alias in, voluptatem deleniti autem, quas, ea
            amet assumenda saepe nostrum nisi repellat ullam dolor laborum
            consequuntur.
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi
            dicta eos illum voluptatibus magnam, totam ratione soluta itaque
            expedita minus animi. Labore temporibus sunt quibusdam aut qui
            molestias error obcaecati! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Temporibus, quod corporis inventore, perspiciatis
            illo veniam quibusdam ipsa cupiditate, nobis repudiandae illum
            itaque quia fuga doloremque magni. Labore quas fugit dicta.
          </p>
        </div>
      </div>
    </div>

    <div class="join-team">
      <h1>Interested in joining our team?</h1>
      <button>View Open Roles</button>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
