<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements">
    <img src="./assets/homeIcon.png" />
    <label>Home</label>
    <img src="./assets/arrowIcon.png" />
    <img src="./assets/ra.png" />
    <label>Risk Analysis</label>
  </div>
  <h3 class="loginHeading">Risk Analysis</h3>
  <div class="images">
    <img src="./assets/ra1.png" />
    <img src="./assets/ra2.png" />
  </div>

  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
