
<div>
   <app-patient-navbar></app-patient-navbar> 
</div>
<div class="container mt-4">
   <div class="container">
   <div class="row">
      <p style="padding-left: 5px;">
         <a href="/healthcare-profile" style="color:black;text-decoration: none;margin-bottom: 10px;cursor: pointer;"><b><i class="arrow left"></i>Back To Search</b></a>
      </p>
   </div>
   <div class="box" style="padding:10px;box-shadow: 1px 1px 10px 3px lightgray;">
      <div class="row" style="border-bottom: 2px solid #E1E4EB;">
         <b style="margin-left:2%;padding-top:1%;padding-bottom: 1%;"><h4>Risk Analysis: Congestive Heart Failure</h4></b>
      </div>
      <div class="row" style="padding-left:2%;padding-bottom:2%;border-bottom: 2px solid #E1E4EB;">
         <div style="margin-top: 1%;margin-bottom: -5%;width: 100%;">
            <p style="padding-top: 1%;display: inline-block;"><b>Risk of Developing Condition</b></p>
            <span>
                  <button class="btn btn-danger btn-sm high" style="margin-left:70.5%">High</button>
             </span></div>
            <div class="progress" style="margin-top: 5%;width:100%"> 
               <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="93"
               aria-valuemin="0" aria-valuemax="100" style="width:93%"><span>93%</span>
            </div>
            
         </div>
      </div>
      <div class="row" style="border-bottom: 2px solid #E1E4EB;">
         <ul id="indicators" style="width:100%;">
            <li id="safe">Low(~40%)</li>
            <li id="med">Moderate(40-75%)</li>
            <li id="serious">High(>75%)</li>
         </ul>
      </div>
      <div class="row" style="padding-top:2%;padding-left:2%;border-bottom: 2px solid #E1E4EB;padding-bottom: 2%;">
         <b>Patient Leslie Wang's Information</b>
         <div class="row row1">
            <div class="col-md-6" style="margin-left:-1.5%">Physical</div>
            <div class="col-md-6" style="margin-left:-1.5%">Prior Symptoms & Complaints</div>
          </div>
          <div class="row row1">
            <div class="col-md-6" style="margin-left:-1.5%"><b>Sex:</b>Male</div>
            <div class="col-md-6" style="margin-left:-1.5%">Chest Pain</div>
          </div>
          <div class="row row1">
            <div class="col-md-6" style="margin-left:-1.5%"><b>Weight:</b>200</div>
            <div class="col-md-6" style="margin-left:-1.5%">Mild Body Pains</div>
          </div>
          <div class="row row1">
            <div class="col-md-6" style="margin-left:-1.5%"><b>Height:</b>5'10"</div>
            <div class="col-md-6" style="margin-left:-1.5%">Shortness of Breath</div>
          </div>
          <div class="row row1">
            <div class="col-md-12" style="margin-left:-1.5%"><b>BMI:</b>28.69<button class="btn btn-danger btn-sm high" style="margin-left:1%">H</button></div>
          </div>
      </div>
      <div class="row" style="padding-top:2%;padding-left:2%;border-bottom: 2px solid #E1E4EB;padding-bottom: 2%;">
         Lab Results
         <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%"><b>Test</b></div>
            <div class="col-md-8" style="margin-left:-1.5%"><b>Result</b></div>
          </div>
          <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%;background-color: #E1E4EB;">Cholesterol:</div>
            <div class="col-md-8" style="margin-left:-1.5%;background-color: #E1E4EB;"><b>243 mg/dL</b><button class="btn btn-danger btn-sm high" style="margin-left:1%">H</button></div>
          </div>
          <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%">Triglycerides:</div>
            <div class="col-md-8" style="margin-left:-1.5%">40 mg/dL</div>
          </div>
          <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%;background-color: #E1E4EB;">HDL Cholesterol:</div>
            <div class="col-md-8" style="margin-left:-1.5%;background-color: #E1E4EB;">94 mg/dL</div>
          </div>
          <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%">LDL/HDL Ratio:</div>
            <div class="col-md-8" style="margin-left:-1.5%">2.6</div>
          </div>
          <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%;background-color: #E1E4EB;">LDL Cholesterol:</div>
            <div class="col-md-8" style="margin-left:-1.5%;background-color: #E1E4EB;"><b>141 mg/dL</b><button class="btn btn-danger btn-sm high" style="margin-left:1%">H</button></div>
          </div>
          <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%">Non-HDL Cholesterol:</div>
            <div class="col-md-8" style="margin-left:-1.5%"><b>149 mg/dL</b><button class="btn btn-danger btn-sm high" style="margin-left:1%">H</button></div>
          </div>
          <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%;background-color: #E1E4EB;">VLDL Cholesterol(Calculated):</div>
            <div class="col-md-8" style="margin-left:-1.5%;background-color: #E1E4EB;">8 mg/dL</div>
          </div>
      </div>
      <div class="row" style="padding-top:1%;padding-left:2%;border-bottom: 2px solid #E1E4EB;padding-bottom: 2%;">
         <div class="row row1">
            <div class="col-md-6" style="margin-left:-1.5%">Medications</div>
            <div class="col-md-6" style="margin-left:-1.5%">Allergies</div>
          </div>
          <div class="row row1">
            <div class="col-md-6" style="margin-left:-1.5%"><b>Medication 1</b></div>
            <div class="col-md-6" style="margin-left:-1.5%"><b>Allergy 1</b></div>
          </div>
          <div class="row row1">
            <div class="col-md-6" style="margin-left:-1.5%"><b>Medication 2</b></div>
            <div class="col-md-6" style="margin-left:-1.5%"><b>Allergy 2</b></div>
          </div>
          <div class="row row1">
            <div class="col-md-6" style="margin-left:-1.5%">Pertinent notes about medication</div>
            <div class="col-md-6" style="margin-left:-1.5%">Pertinent notes about allergies</div>
          </div>
      </div>
      <div class="row" style="padding-top:2%;padding-left:2%;padding-bottom: 2%;">
         <b>Recommended Medication Classes</b>
         <div class="row row1">
            <div class="col-md-4" style="margin-left:-1.5%"><button class="grey">Medication Class 1 ATC</button></div>
            <div class="col-md-4" style="margin-left:-1.5%"><button class="grey">Medication Class 2 ATC</button></div>
            <div class="col-md-4" style="margin-left:-1.5%"><button class="grey">Medication Class 3 ATC</button></div>
         </div>
      </div>
      </div>
   </div>
</div>

<app-patient-footer></app-patient-footer> 
