<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Be Clinic Medical Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta name="keywords" content="Be Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--// Meta tag Keywords -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Web-Fonts -->
  <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">
  <!-- //Web-Fonts -->
</head>

<body>


  <section id="contact">
    <div id="contactForm" class="py-5">
        <p align="center">
          <br></p>
        <h1 align="left" style="padding-left:10%;padding-top: 2%; margin-bottom: 0%;">Job Openings</h1><br>
    </div>
    <div>
      <ul style="margin: auto; margin-top: 0%;margin-right: 20%; margin-left:10%; border-color: gray; clear: both; overflow: hidden;" *ngFor = "let jobCategory of jobCategories">
        
        <div class="panel panel-primary">
       <!-- pointerCursor class changes the cursor style to pointer when hovered over 
             the employee panel title. When clicked on the title, the panelExpanded 
             boolean property is toggled from true to false & vice-versa. We use this 
             property to toggle the visibility of panel body & footer -->
       <div class="panel-heading pointerCursor"
                           (click)="jobCategory.bool = !jobCategory.bool" style="background-color: #4a7f7d;">
           <h2 class="panel-title" style="background-color: #4a7f7d;" >{{jobCategory.title}}<span class="glyphicon glyphicon-menu-down"></span></h2>
       </div>
       <!-- Render panel-body <div> only if panelExpanded property is true  -->
       <div class="panel-body" *ngIf=jobCategory.bool>
           <app-job-openings [data] = 'jobCategory.title'></app-job-openings>
       </div>
       <!-- Render panel-footer <div> only if panelExpanded property is true  -->
       <div class="panel-footer" *ngIf="panelExpanded">
           <!-- Rest of the HTML -->
       </div>
       </div>
        <hr>
        <br>
      </ul>
    </div>
    <div><br></div>
  </section>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148334798-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148334798-1');
      </script>
</body>

</html>
