.heading {
  font-family: "Tinos", serif;
  color: #2e5159;
  text-align: center;
  font-size: 36px;
  padding-top: 100px;
}
body {
  background-color: #faf6f2;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 400px;
  height: 516px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
}

.center {
  text-align: center;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.helpBtn {
  color: #009688;
  border: 2px solid #009688;
  background-color: white;

  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 2px solid #009688;
  border-radius: 7px;
}

label {
  font-family: "Lato", sans-serif;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  color: #1d1f26;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
}

.form-element {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-left: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-element input {
  width: 368px;
  height: 40px;
  height: 40px;
  left: 0%;
  right: 0%;
  top: 25px;

  /* White */

  background: #ffffff;
  /* Grey 200 */

  border: 2px solid #e1e4eb;
  box-sizing: border-box;
  /* Inner Shadow E-100 */

  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
}

.form-element button {
  width: 368px;
  height: 40px;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.loginBtn {
  color: white;
  background-color: #5c8a96;
  border: none;
}

.helpBtn,
.signUpBtn {
  color: #5c8a96;
  border: 2px solid #5c8a96;
  background-color: white;
}

hr {
  left: 0%;
  right: 0%;
  margin-top: 10px;

  /* Grey 200 */
  border: 2px solid #e1e4eb;
}
