<!--
Register Paitent Form
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Be Clinic Medical Category Bootstrap Responsive Website Template | Login :: W3layouts</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta name="keywords" content="Be Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--// Meta tag Keywords -->
  <!-- Font-Awesome-Icons-CSS -->
  <!-- //Custom-Files -->

  <!-- Web-Fonts -->
  <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">
  <!-- //Web-Fonts -->
</head>

<body>
<!-- main -->
<div id="home">
  <!-- header -->
  <div class="main-top"style="background: black">
    <div class="container">
      <div class="header d-md-flex justify-content-between align-items-center py-3">
        <!-- logo -->
        <div id="logo">
          <h1>
            <a href="/home">
              <span class="fa fa-user-md mr-2"></span>
              <span class="logo-sp">ScriptChain</span>

            </a>
          </h1>
        </div>
        <!-- //logo -->
        <!-- nav -->
        <div class="nav_w3ls">
          <nav>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
              <li><a routerLink="/home" class="active">Home</a></li>
              <li><a routerLink="/contact"  class="mx-lg-4 mx-md-3 my-md-0 my-2">Request Demo</a></li>
              <li><a href="/patient/register#footer">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <!-- //nav -->
      </div>
    </div>
  </div>
  <!-- //second header -->


</div>
<!-- //main -->


<!-- patinet register 1 -->
<section id="r1" class="login py-5">
  <div class="container py-xl-5 py-lg-3">
    <div id="registerComponent" class="title-section mb-md-5 mb-4">
      <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" style="padding-top: 50px">Register</h3>
    </div>
    <div class="login px-sm-4 mx-auto mw-100 login-wrapper"  id="part1" style="position: relative;">
      <form ngNativeValidate class="login-wrapper" action="#" method="post" #itemForm1="ngForm" (ngSubmit)="showSecond()">
        <div class="form-group">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="patientService.selectedPatient._id">

          <label>First Name*</label>
          <input type="text" class="form-control" name="fname" #fname="ngModel" [(ngModel)]="patientService.selectedPatient.fname" required [class.is-invalid]="fname.invalid && fname.touched">
          <small class = "text-danger" [class.d-none]="fname.valid || fname.untouched">First name is required</small>
        </div>
        <div class="form-group">
          <label>Last Name*</label>
          <input type="text" class="form-control" name="lname"  #lname="ngModel" required [(ngModel)]="patientService.selectedPatient.lname" [class.is-invalid]="lname.invalid && lname.touched">
          <small class = "text-danger" [class.d-none]="lname.valid || lname.untouched">Last name is required</small>
        </div>
        <div class="form-group">

            <label>Email*</label>
            <input type="email" class="form-control" name="email"  #email="ngModel" required [(ngModel)]="patientService.selectedPatient.email" [class.is-invalid]="email.invalid && email.touched">
            <small class = "text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
          </div>

        <div class="form-group">
          <label>Street Address*</label>
          <input type="text" class="form-control" name="street" #street="ngModel" [(ngModel)]="patientService.selectedPatient.street" required [class.is-invalid]="street.invalid && street.touched">
          <small class = "text-danger" [class.d-none]="street.valid || street.untouched">Street is required</small>
        </div>
        <span><div class="form-group">
          <label>City*</label>
          <input type="text" class="form-control" name="city" #city="ngModel" required [(ngModel)]="patientService.selectedPatient.city" [class.is-invalid]="city.invalid && city.touched">
          <small class = "text-danger" [class.d-none]="city.valid || city.untouched">City is required</small>
        </div></span>
        <span><div class="form-group">

          <label>State/Province*</label>
          <input type="text" class="form-control" name="state" #state="ngModel" required [(ngModel)]="patientService.selectedPatient.state" [class.is-invalid]="state.invalid && state.touched">
          <small class = "text-danger" [class.d-none]="state.valid || state.untouched">State is required</small>
        </div></span>
        <div class="form-group">

          <label>Postal/Zip Code*</label>
          <input type="text" class="form-control" name="zip" #postal="ngModel" required [(ngModel)]="patientService.selectedPatient.zip" [class.is-invalid]="postal.invalid && postal.touched">
          <small class = "text-danger" [class.d-none]="postal.valid || postal.untouched">Postal/Zip Code is required</small>
        </div>
        <span><div class="form-group">

          <label>Country*</label>
          <input type="text" class="form-control" name="country" #country="ngModel" required [(ngModel)]="patientService.selectedPatient.country" [class.is-invalid]="country.invalid && country.touched">
          <small class="text-danger" [class.d-none]="country.valid || country.untouched">Country is required</small>
        </div></span>
        <div class="form-group">

          <label>Phone*</label>
          <input type="tel" id="tel"class="form-control" name="phone" #phone="ngModel" required [textMask]="{mask: phonemask}" placeholder="ex: 123-456-7890"
           #name="ngModel" [(ngModel)]="patientService.selectedPatient.phone" [class.is-invalid]="phone.invalid && phone.touched">
           <small class = "text-danger" [class.d-none]="phone.valid || phone.untouched">Phone is required</small>
        </div>
        <div class="form-group">
          <label>Password*</label>
          <input type="password" class="form-control" name="password" required #name="ngModel" [(ngModel)]="patientService.selectedPatient.password">
        </div>
        <div class="form-group">
            <label>Re-Enter Password*</label>
            <input type="password" class="form-control" name="password2" required >
        </div>
        <button type="submit" class="btn submit mt-4" (click)="onSubmit1(street.value, city.value, state.value, country.value, postal.value)">Next</button>
        <p style="float: right;"> <br/> Step 1/3 </p>
      </form>
      
    </div>
  </div>
</section>

<!-- //patient register 1 -->

<!-- patient register 2 ---->
<section id="r1" class="login py-5" >
  <div class="container py-xl-5 py-lg-3">
    <div class="login px-sm-4 mx-auto mw-100 login-wrapper" id="part2">
      <form ngNativeValidate class="login-wrapper" action="#" method="post"  #itemForm2="ngForm" (ngSubmit)="showThird()" 
        style="position:absolute; top:30%; left:35%;">
          <div class="form-group">

              <label>Date of Birth*</label>
              <input type="date" class="form-control" name="birthdate" required #dateofbirth="ngModel" [(ngModel)]="patientService.selectedPatient.birthday">
          </div>
          <div class="form-group">
            <label>Sex*</label>
            <br/><input type="radio" name="sex" value="male" #name="ngModel" [(ngModel)]="patientService.selectedPatient.sex"> Male<br/>
            <span><input type="radio" name="sex" value="female" #name="ngModel" [(ngModel)]="patientService.selectedPatient.sex"> Female</span>
        </div>
        <div class="form-group">

          <label>Social Security Number*</label>
          <input type="text" class="form-control" name="ssn" required [textMask]="{mask: socialsecurity}" placeholder="ex: 123-45-6789" 
          #ssn="ngModel" [(ngModel)]="patientService.selectedPatient.ssn" [class.is-invalid]="ssn.invalid && ssn.touched">
          <small class="text-danger" [class.d-none]="ssn.valid || ssn.untouched">Social security number is required</small>
        </div>
        <div class="form-group">

          <label>Emergency Contact Name and Relationship*</label>
          <input type="text" class="form-control" name="emergency-name" required #name="ngModel" [(ngModel)]="patientService.selectedPatient.ec" 
          #emname="ngModel" [class.is-invalid]="emname.invalid && emname.touched">
          <small class="text-danger" [class.d-none]="emname.valid || emname.untouched">Emergency contact name and relationship required</small>
        </div>
        <div class="form-group">

          <label>Emergency Contact Phone Number*</label>
          <input type="text" class="form-control" name="emergency-phone" required #ephone="ngModel" [textMask]="{mask: phonemask}" placeholder="ex: (123) 456-7890"

          [(ngModel)]="patientService.selectedPatient.ecPhone" [class.is-invalid]="ephone.invalid && ephone.touched">
          <small class="text-danger" [class.d-none]="ephone.valid || ephone.untouched">Emergency phone number is required</small>
        </div>
        <button type="submit" class="btn submit mt-4" (click)="onSubmit2()">Next</button>
        <p style="float: right;"> <br/> Step 2/3 </p>
      </form>
      
    </div>
  </div>
</section>
<!----- patient register 2 ---->

<!-- patient register 3 ---->
<section id="r1" class="login py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="login px-sm-4 mx-auto mw-100 login-wrapper" id="part3" >
      <form class="login-wrapper" action="#" method="post"  #itemForm3="ngForm" (ngSubmit)="onSubmit3()" 
        style="position:absolute; top:30%; left:35%;">
        <!----------Questionare--------->
        <div class="form-group">
            <label>Allergies? If yes, list below</label>
            <input type="text" class="form-control" name="allergies" required [(ngModel)]="patientService.selectedPatient.allergies" >
          </div>
        <label>Have you ever had (please check all that apply)</label>
        <div class="form-group">
          <input type="checkbox" required > Anemia
          <br/><span><input type="checkbox" required name="asthma" [(ngModel)]="patientService.selectedPatient.asthma"> Asthma </span>
          <br/><span><input type="checkbox" required name="arthritis" [(ngModel)]="patientService.selectedPatient.arthritis"> Arthritis </span>
          <br/><span><input type="checkbox" required name="cancer" [(ngModel)]="patientService.selectedPatient.cancer"> Cancer </span>
          <br/><span><input type="checkbox" required name="gout" [(ngModel)]="patientService.selectedPatient.gout"> Gout </span>
          <br/><span><input type="checkbox" required name="Diabetes" [(ngModel)]="patientService.selectedPatient.diabetes"> Diabetes </span>
          <br/><span><input type="checkbox" required name="emotionalDisorder" [(ngModel)]="patientService.selectedPatient.emotionalDisorder"> Emotional Disorder </span>
          <br/><span><input type="checkbox" required name="Epilepsy" [(ngModel)]="patientService.selectedPatient.epilepsy"> Epilepsy Seizers </span>
          <br/><span><input type="checkbox" required name="fainting" [(ngModel)]="patientService.selectedPatient.fainting"> Fainting Spells </span>
          <br/><span><input type="checkbox" required name="gallstones" [(ngModel)]="patientService.selectedPatient.gallstones"> Gallstones </span>
          <br/><span><input type="checkbox" required name="heartDisease" [(ngModel)]="patientService.selectedPatient.heartDisease"> Heart Disease </span>
          <br/><span><input type="checkbox" required name="heartAttack" [(ngModel)]="patientService.selectedPatient.heartAttack"> Heart Attack </span>
          <br/><span><input type="checkbox" required name="rheumaticFever" [(ngModel)]="patientService.selectedPatient.rheumaticFever"> Rheumatic Fever </span>
          <br/><span><input type="checkbox" required name="highBP" [(ngModel)]="patientService.selectedPatient.highBP"> High Blood Pressure </span>
          <br/><span><input type="checkbox" required name="digestiveProblems" [(ngModel)]="patientService.selectedPatient.digestiveProblems"> Digestive Problems </span>
          <br/><span><input type="checkbox" required name="ulcerative" [(ngModel)]="patientService.selectedPatient.ulcerative"> Ulcerative Colitis </span>
          <br/><span><input type="checkbox" required name="ulcerDisease" [(ngModel)]="patientService.selectedPatient.ulcerDisease"> Ulcer Disease </span>
          <br/><span><input type="checkbox" required name="hepatitis" [(ngModel)]="patientService.selectedPatient.hepatitis"> Hepatitis </span>
          <br/><span><input type="checkbox" required name="kidneyDisease" [(ngModel)]="patientService.selectedPatient.kidneyDisease"> Kidney Disease </span>
          <br/><span><input type="checkbox" required name="liverDisease" [(ngModel)]="patientService.selectedPatient.liverDisease"> Liver Disease </span>
          <br/><span><input type="checkbox" required name="sleepApnea" [(ngModel)]="patientService.selectedPatient.sleepApnea"> Sleep Apnea </span>
          <br/><span><input type="checkbox" required name="papMachine" [(ngModel)]="patientService.selectedPatient.papMachine"> Use a C-PAP Machine </span>
          <br/><span><input type="checkbox" required name="thyroid" [(ngModel)]="patientService.selectedPatient.thyroid"> Thyroid Problems </span>
          <br/><span><input type="checkbox" required name="tuberculosis" [(ngModel)]="patientService.selectedPatient.tuberculosis"> Tuberculosis </span>
          <br/><span><input type="checkbox" required name="venereal" [(ngModel)]="patientService.selectedPatient.venereal"> Venereal Disease </span>
          <br/><span><input type="checkbox" required name="neurologicalDisorders" [(ngModel)]="patientService.selectedPatient.neurologicalDisorders"> Neurological Disorders </span>
          <br/><span><input type="checkbox" required name="bleedingDisorders" [(ngModel)]="patientService.selectedPatient.bleedingDisorders"> Bleeding Disorders </span>
          <br/><span><input type="checkbox" required name="lungDisease" [(ngModel)]="patientService.selectedPatient.lungDisease"> Lung Disease </span>
          <br/><span><input type="checkbox" required name="emphysema" [(ngModel)]="patientService.selectedPatient.emphysema"> Emphysema </span>
        </div>
        <label>Alcohol Consumption</label>
        <div class="form-group">
          <input type="radio" name="drink" value="noDrink" #name="ngModel" [(ngModel)]="patientService.selectedPatient.drink"> I don't drink 
          <br/><span><input type="radio" name="drink" value="1-2drink" #name="ngModel"  [(ngModel)]="patientService.selectedPatient.drink"> 1-2 drinks/week </span>
          <br/><span><input type="radio" name="drink" value="3-4drink" #name="ngModel" [(ngModel)]="patientService.selectedPatient.drink"> 3-4 drinks/week </span>
          <br/><span><input type="radio" name="drink" value="4+drink" #name="ngModel" [(ngModel)]="patientService.selectedPatient.drink"> 4+ drinks/week </span>
        </div>
        <label>Do you smoke?</label>
        <div class="form-group">
          <input type="radio" name="smoke" value="noSmoke" #name="ngModel" [(ngModel)]="patientService.selectedPatient.smoke"> No 
          <br/><span><input type="radio" name="smoke" value="0-1smoke" #name="ngModel" [(ngModel)]="patientService.selectedPatient.smoke"> 0-1 pack/day </span>
          <br/><span><input type="radio" name="smoke" value="1-2smoke" #name="ngModel" [(ngModel)]="patientService.selectedPatient.smoke"> 1-2 pack/day </span>
          <br/><span><input type="radio" name="smoke" value="2+smoke" #name="ngModel" [(ngModel)]="patientService.selectedPatient.smoke"> 2+ pack/day </span>
        </div>
        <button type="submit" class="btn submit mt-4">Submit</button>
        <p style="float: right;"> <br/> Step 3/3 </p>
      </form>
      
    </div>
  </div>
</section>
<section id="register_successful">

    <div class="container py-xl-5 py-lg-3" style="height: 200px;">

    <div class="title-section mb-md-5 mb-4">
        <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" align="center">THANK YOU FOR YOUR SUBMISSION!</h3><br>  
        <h4 class="w3ls-title text-dark font-weight-bold" align="center">You will receive a verification email from us shortly.</h4>
      </div>
      
  </div>
</section>

<!----- patient register 3 ---->


<!-- footer -->
<footer class="py-5" id="footer">
  <div class="container py-xl-5 py-lg-3">
    <div class="row">
      <div class="col-lg-7 w3l-footer">
        <!-- logo -->
        <div class="logo2">
          <h2>
            <a href="index.html">
              <span class="fa fa-user-md mr-2"></span>
              <span class="logo-sp">ScriptChain</span>
            </a>
          </h2>
        </div>
        <!-- //logo -->
        <p class="mt-4 text-light"> The product is a blockchain system in development where it can help increase
          efficiency and make it more user friendly to our customer like the healthcare insurers, providers and
          pharmacy's. Creating a large decentralized network throughout the entire horizontal process.</p>
        <ul class="list-unstyled list-styles mt-lg-5 mt-4">
          <li>
            <p class="text-light"><span class="fa fa-location-arrow mr-2"></span>Boston, MA</p>
          </li>
          <li class="my-3">
            <p class="text-light"><span class="fa fa-phone mr-2"></span>Enter phone</p>
          </li>
          <li>
            <a href="mailto:info@example.com" class="text-light"><span class="fa fa-envelope-open mr-2"></span>Enter text</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 w3l-footer mt-lg-0 mt-5">
        <h3 class="mb-sm-4 mb-3 text-wh">Partners</h3>
        <ul class="list-unstyled list-part text-wh pt-lg-3">
          <li><span class="fa fa-500px" aria-hidden="true"></span></li>
          <li class="mx-4"><span class="fa fa-gg" aria-hidden="true"></span></li>
          <li><span class="fa fa-lastfm" aria-hidden="true"></span></li>
          <li class="mx-4"><span class="fa fa-openid" aria-hidden="true"></span></li>
          <li><span class="fa fa-angellist" aria-hidden="true"></span></li>
        </ul>
        
        <div class="n-right-w3ls mt-5 pt-lg-4">
          <h3 class="mb-sm-4 mb-3 text-wh">Need Help?</h3>
          <button routerLink='/contact' class="submit btn font-weight-bold" type="submit">Request Demo</button>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- //footer -->

<!-- footer bottom -->
<!-- copyright -->
<div class="copy-w3pvt">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
        <p>&copy; 2019 ScriptChain. All rights reserved | Design by
          <a href="http://w3layouts.com/">W3layouts</a>
        </p>
      </div>
      <div class="col-lg-5 w3ls_footer_grid_left1_pos text-lg-right text-center mt-lg-0 mt-2">
        <ul>
          <li>
            <a href="#" class="facebook">
              <span class="fa fa-facebook-f mr-2"></span>Facebook</a>
          </li>
          <li class="mx-3">
            <a href="#" class="twitter">
              <span class="fa fa-twitter mr-2"></span>Twitter</a>
          </li>
          <li>
            <a href="#" class="google">
              <span class="fa fa-google-plus mr-2"></span>Google Plus</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- //copyright -->
<!-- //footer bottom -->
<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->
<script>
 

</script>

</body>

</html>


