<link
  href="https://fonts.googleapis.com/css?family=Rubik One"
  rel="stylesheet"
/>
<div class="holder">
  <div fxHide fxShow.gt-md fxLayout="display.layout">
    <div fxFlex="50">
      <mat-grid-list cols="2" rowHeight="110px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <h1 class="header">Why Script Chain Health?</h1>
        </mat-grid-tile>

        <mat-grid-tile
          *ngFor="let cards of card"
          [colspan]="cards.colSpan"
          [rowspan]="cards.rowSpan"
        >
          <mat-card>
            <img mat-card-image src="{{ cards.cardImage }}" />
            <mat-card-content>
              <h5>{{ cards.cardTitle }}</h5>
              <p>
                {{ cards.cardContects }}
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div fxFlex="50">
      <mat-grid-list cols="3" rowHeight="110px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <h1 class="header">Watch How We Interpret Data</h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <video controls poster="../../assets/company-logo/scriptchain-health-logo-dark.svg"><source src="../../assets/videos/ScriptChain Health Product Demo.mp4" type="video/mp4"></video>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"
        ><button (click)="whitePaper()">ScriptChain Health White Paper</button></mat-grid-tile
      >
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><button routerLink="/request-access" >Request Demo</button></mat-grid-tile
      >
      </mat-grid-list>
    </div>
  </div>
  <!-- ------------------------------------------------------------------------------------------------------------------------- -->
  <div fxShow fxHide.gt-md fxShow.xs="false" fxLayout="column">
    <mat-grid-list cols="2" rowHeight="110px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <h1 class="header">Why Script Chain Health?</h1>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <mat-card>
          <img
            mat-card-image
            src="../../assets/icons/artificial-intelligence.png"
          />
          <mat-card-content>
            <h5>Artificial Intelligence</h5>
            <p>
              Using deep learning models to help consolidate and make actionable
              outcomes using patient medical data.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <mat-card>
          <img mat-card-image src="../../assets/icons/healthcare.png" />
          <mat-card-content>
            <h5>Preventive Healthcare</h5>
            <p>
              Covering the first half of quality healthcare which is to prevent
              and lower the risk of heart disease.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <mat-card>
          <img mat-card-image src="../../assets/icons/secure-folder.png" />
          <mat-card-content>
            <h5>Data Security</h5>
            <p>
              We know that your medical data is important so we've made sure
              that we make data security a top priority.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <mat-card>
          <img mat-card-image src="../../assets/icons/computer.png" />
          <mat-card-content>
            <h5>Data Accuracy</h5>
            <p>
              Being able to track and trace all your inputs into the system with
              log information easily available.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"> </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="110px">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <h1 class="header">Watch How We Interpret Data</h1>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="5">
        <video controls poster="../../assets/company-logo/scriptchain-health-logo-dark.svg"><source src="../../assets/videos/ScriptChain Health Product Demo.mp4" type="video/mp4"></video>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"
        ><button (click)="whitePaper()">ScriptChain Health White Paper</button></mat-grid-tile
      >
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><button routerLink="/request-access" >Request Demo</button></mat-grid-tile
      >
    </mat-grid-list>
  </div>

  <!-- --------------------------------------------------------------------------------------------------------- -->
  <div fxShow fxHide.gt-xs fxLayout="column">
    <mat-grid-list cols="1" rowHeight="110px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h1 class="header">Why Script Chain Health?</h1>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <mat-card>
          <img
            mat-card-image
            src="../../assets/icons/artificial-intelligence.png"
          />
          <mat-card-content>
            <h5>Artificial Intelligence</h5>
            <p>
              Using deep learning models to help consolidate and make actionable
              outcomes using patient medical data.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <mat-card>
          <img mat-card-image src="../../assets/icons/healthcare.png" />
          <mat-card-content>
            <h5>Preventive Healthcare</h5>
            <p>
              Covering the first half of quality healthcare which is to prevent
              and lower the risk of heart disease.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <mat-card>
          <img mat-card-image src="../../assets/icons/secure-folder.png" />
          <mat-card-content>
            <h5>Data Security</h5>
            <p>
              We know that your medical data is important so we've made sure
              that we make data security a top priority.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <mat-card>
          <img mat-card-image src="../../assets/icons/computer.png" />
          <mat-card-content>
            <h5>Data Accuracy</h5>
            <p>
              Being able to track and trace all your inputs into the system with
              log information easily available.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="110px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <h1 class="header">Watch How We Interpret Data</h1>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="5">
        <video controls poster="../../assets/company-logo/scriptchain-health-logo-dark.svg"><source src="../../assets/videos/ScriptChain Health Product Demo.mp4" type="video/mp4"></video>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><button (click)="whitePaper()" style="font-size: 13px">
          ScriptChain Health White Paper
        </button></mat-grid-tile
      >
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><button routerLink="/request-access" style="font-size: 13px">Request Demo</button></mat-grid-tile
      >
    </mat-grid-list>
  </div>
</div>
