<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Rubik One' rel='stylesheet'>
<div fxHide fxShow.gt-sm>
  <h1>About Us</h1>
  <h3>A digital health platform that uses artificial intelligence for early prevention in readmission and cardiovascular disease.</h3>
</div>
<div fxShow fxHide.gt-sm>
  <h2>About Us</h2>
  <h5>A digital health platform that uses artificial intelligence for early prevention in readmission and cardiovascular disease.</h5>
</div>

