mat-grid-list{
  background-image: url(https://media.istockphoto.com/photos/geometric-abstract-background-with-connected-line-and-dots-picture-id1350858984?b=1&k=20&m=1350858984&s=170667a&w=0&h=kuyr9DRACwOK6UfC7GFJIZwHZdE7n8eAjzKcZjeN3Is=);
  background-repeat: no-repeat;
  background-size: cover;
}
mat-grid-tile{
  text-align: center;
  color: white;
}
.numeric{
  font-family: "Rubik One";
  font-size: 43px;
}

.data{
  font-family: "Lato Bold";
  font-weight: Bold;
  font-size: 18px;
}
.study{
  font-family: "Lato Italic";
  font-size: 18px;
}

.numericsmall{
  font-family: "Rubik One";
  font-size: 18px;
}

.datasmall{
  font-family: "Lato Bold";
  font-weight: Bold;
  font-size: 10px;
}
.studysmall{
  font-family: "Lato Italic";
  font-size: 10px;
}
