<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Rubik One' rel='stylesheet'>

<div fxHide fxShow.gt-sm>
  <mat-grid-list cols="3" rowHeight="10:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="numeric">647,000</mat-grid-tile>
    <mat-grid-tile class="numeric">30.3 M</mat-grid-tile>
    <mat-grid-tile class="numeric">$351 B</mat-grid-tile>
    <mat-grid-tile class="data">Total Death Could've Been Prevented</mat-grid-tile>
    <mat-grid-tile class="data">Total CVD Case Copuld've Been Prevented</mat-grid-tile>
    <mat-grid-tile class="data">Total Medical Cost Savings</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="study">**Stats from Healthline 2020 study**</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>
<div fxShow fxHide.gt-sm>
  <mat-grid-list cols="1" rowHeight="25:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="numericsmall">647,000</mat-grid-tile>
    <mat-grid-tile class="datasmall">Total Death Could've Been Prevented</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="numericsmall">30.3 M</mat-grid-tile>
    <mat-grid-tile class="datasmall">Total CVD Case Copuld've Been Prevented</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="numericsmall">$351 B</mat-grid-tile>
    <mat-grid-tile class="datasmall">Total Medical Cost Savings</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="studysmall">**Stats from Healthline 2020 study**</mat-grid-tile>


    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

  </mat-grid-list>
</div>
