<div [ngClass]="{ 'isCollapsed': !isCollapsed, 'collapsed': isCollapsed }" class="pull-left readMore">
  <ng-content *ngIf="!isCollapsed"></ng-content>
  <a (click)="isCollapsed = !isCollapsed" [hidden]="!isReadMore" class="pull-right">
    <fa-icon icon="chevron-right" *ngIf="isCollapsed"></fa-icon>
    <fa-icon icon="chevron-down" *ngIf="!isCollapsed"></fa-icon>
    </a>
</div>

<div  class='cb'></div>
<!-- <a (click)="isCollapsed = !isCollapsed" [hidden]="!isReadMore" class="pull-right">
<fa-icon icon="chevron-right" *ngIf="isCollapsed"></fa-icon>
<fa-icon icon="chevron-down" *ngIf="!isCollapsed"></fa-icon>
</a> -->
