/* Authors and their contributions:
    Vidit: Added icons and alignment. Also worked on responsiveness
            by adding a few media queries.
*/
body{
  background-color: rgba(251,246,241,255);
  background-color: black;
  height: max-content;
}
app-landing-page-header{
  position: absolute;
  top: 0;
}
.logo{
  padding: 100px 0;
}
.csHeader {
  font-family: "Tinos", serif;
  color: #2d5059;
  font-size: 36px;
}

.csLogo {
  width: 448px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 8px;
}
.content-1{
  width: 80vw;
  margin: 40px auto;
}
.card-3-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Lato";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.card-3-top img{
  width: 90px;
}
.card-3-bottom{

}
