<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2250267, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>
    <div class="content1">
      <h3 id="loginHeading">ScriptChain LLC Capability Statement</h3>
      <img src="./assets/logo6.png" id="logo" />
    </div>
    <div class="content2">
      <h3>Machine Learning | AI | Risk Management</h3>
      <p>
        ScriptChain utilizes deep learning algorithms to provide individualized
        risk assessment and predicted readmission risk to healthcare providers
        through interfacing with major EMRs. Our actionable insights can save
        valuable physician time, improve workflow, and drastically reduce
        overhead costs through reducing readmission rate.
      </p>

      <p>
        As a Minority Owned Small Business, ScriptChain is committed to
        excellence and creating innovative and cost-effective solutions for our
        health provider clients.
      </p>
      <p>What sets ScriptChain apart from the competition?</p>
      <ul>
        <li>Our People</li>

        <li>Innovative Machine Learning Capabilities</li>
        <li>Quality of Data</li>
        <li>UI Centered On Physician Convenience</li>
        <li>Integration With Major EMRs</li>
      </ul>
    </div>
    <div class="contentwhite">
      <h3>Core Capabilities</h3>
      <p>
        Our machine learning engineers form algorithms, as well as design and
        implement solutions in the areas of:
      </p>

      <ul>
        <li>Predictive Analytics</li>
        <li>Data Integration / Transfer</li>
      </ul>
    </div>
    <div class="content2">
      <h3>Predictive Analytics</h3>
      <p>
        Our services in this area utilize data-points sourced from a patient’s
        history (as procured from the EMR) to individualize their risk measures,
        both in terms of readmission and likelihood of developing specific
        conditions. Our analytics are able to do this through analysis of an
        array of factors, including pre-existing conditions, variables such as
        BMI and blood pressure, as well as interpreting lab tests and vitals.
        This diagnostic capability benefits a health care provider organization
        through the following;
      </p>

      <ul>
        <li>Improvement of Physician Workflow</li>
        <li>Factor Analysis</li>
        <li>Individualized Patient Risk Assessment</li>
        <li>Reduction of Overhead Costs (lowering readmission)</li>
      </ul>
    </div>

    <div class="contentwhite">
      <h3>Data Integration / Transfer</h3>
      <p>
        Through being developed with integration with the Big Five EMR systems
        in mind: Cerner, Athena, Allscripts, Epic, and Meditech, we interface
        directly with data pulled from their APIs. By facilitating the movement
        of data across hospitals and providers in a customizable patient
        profile, we ensure that patient data is safe and easily accessible. This
        means:
      </p>

      <ul>
        <li>Any Physician Using ScriptChain Can Access Patient Data</li>
        <li>Drastically Lowered Wait Times</li>
        <li>Automated Data Interpretation Between Patient Appointments</li>
        <li>Cloud-Based Storage</li>
      </ul>
    </div>
    <!-- <div class="content2">
      <h3>Federal Certification</h3>

      <ul>
        <li>Insert certification here</li>
      </ul>
    </div> -->
    <div class="content2">
      <h3>Quasi Government</h3>

      <ul>
        <li>National Science Foundation (NSF)</li>
      </ul>
    </div>
    <!-- <div class="content2">
      <h3>Sample Major Clients</h3>
      <table>
        <th>Commercial</th>
        <th>Government</th>
        <tr>
          <td>Insert clients here</td>
          <td>Insert clients here</td>
        </tr>
        <tr>
          <td>Insert clients here</td>
          <td>Insert clients here</td>
        </tr>
      </table>
    </div> -->
    <div class="contentwhite">
      <h3>North American Industry Classification System (NAICS)</h3>

      <ul>
        <li>511210</li>
        <li>541511</li>
        <li>541519</li>
        <li>813920</li>
        <li>621999</li>
        <li>561499</li>
      </ul>
    </div>
    <div class="content2">
      <h3>General Information</h3>
      <p>
        Registered Company Name: ScriptChain, LLC<br />DBA:N/A<br />Year
        Incorporated: April, 2019<br />
        State of Incorporation: Massachusetts <br />
        Corporation Type: LLC <br />
        D-U-N-S Number: 117047988 <br />
        Cage Code: 8DF38
      </p>
    </div>
    <div class="contentwhite">
      <h3>Contact Information</h3>
      <p>
        Email: moh@scriptchain.co<br />
        Web: https://scriptchain.co/home
      </p>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
