<!--
Register All Form
-->

<!DOCTYPE html>
<html lang="zxx">

    <app-common-header></app-common-header>
<body>

<!-- //main -->

<!-- Register all -->
<section class="login py-5">
  <div class="container py-xl-5 py-lg-3" *ngIf = "visible">
    <h3>Please choose a new password for your account</h3>
    <br>
    <label><strong>Password: </strong></label>
        <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!,@,#,$,%,^,&,*]).{6,20}" type="text" class="form-control" required
        [(ngModel)]="password" >
        <br/>
    <label><strong>Re-Enter Password: </strong></label>
        <input type="text" class="form-control" required
        [(ngModel)]="rePassword" >
        <br/>

    <button class="btn btn-secondary" (click) = "onSubmission()">Submit</button>
  </div>
  <div class="container py-xl-5 py-lg-3" *ngIf = "!visible">
    <h3> Password has been succesfully reset </h3>
  </div>
  <div class="container py-xl-5 py-lg-3" *ngIf = "errorVisible">
    <h5 style="color: red;">Passwords do not match </h5>
  </div>
  <div class="container py-xl-5 py-lg-3" *ngIf = "errorUpdating">
    <h3> An error has occured trying to update your password. Please retry or contact support. </h3>
  </div>
</section>
<!-- //register all -->

<!-- footer -->
<app-footer id="footer"></app-footer>
<!-- //copyright -->
<!-- //footer bottom -->
<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->

</body>

</html>



