<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div fxLayout='column'>
        <div>
            <app-landing-page-header></app-landing-page-header>
        </div>
        <div fxFlexFill>
            <div
              class="py-5 text-center"
              style="
                background-image: url(./assets/blog-header-bkgrd.jpg);
                color: white;
                height: 263px;
              "
            >
              <h1 class="jobTitle my-5">
                Blog Title
              </h1>
            </div>
        </div>
        <div class="container text-justify mt-5" fxLayout.gt-xs="column" fxLayout.gt-lg="row" fxLayoutAlign.gt-xs="space-between center" fxLayoutAlign.gt-lg="start center">
            <h4 class="blogInfo">> written by Moh Noori</h4>
            <h4 class="blogInfo">> posted on mm/dd/yyyy</h4>
        </div>
        <div class='row text-justify container mb-5' fxLayoutAlign="start center">
            <p class="text-wrap ml-5 mt-5 mr-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam dignissimos corporis facere ab, voluptate quia! Cumque, hic explicabo ipsam ipsa vel perspiciatis recusandae sed quod magni quidem.
                Impedit, tempore alias.
            </p>
        </div>

        <div class="container">
            <a href="#">
              <img src="./assets/icons/linkedin.svg" alt="" class="img-rounded img-fluid" width="40px" height="40px">&nbsp;
            </a>
            <a href="#">
              <img src="./assets/icons/twitter.svg" alt="" class="img-rounded img-fluid" width="40px" height="40px">&nbsp;
            </a>
            <a href="#">
              <img src="./assets/icons/facebook.svg" alt="" class="img-rounded img-fluid" width="40px" height="40px">&nbsp;
            </a>
            <a href="#">
              <img src="./assets/icons/pinterest.svg" alt="" class="img-rounded img-fluid" width="40px" height="40px">
            </a>
          </div>
    </div>
    <app-landing-page-subfooter></app-landing-page-subfooter>
</body>
</html>
