<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements" style="padding: 0.9%">
    <img src="./assets/homeIcon.png" />
    <label>Home</label>
  </div>
  <h3 class="loginHeading">Select a Profile</h3>
  <div class="images">
    <img src="./assets/Profile.png" />
    <img src="./assets/firstName.png" />
    <img src="./assets/lastName.png" />
  </div>

  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
