<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Hotjar Tracking Code for https://www.scriptchain.co/home -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>
    <div class="content1">
      <h3 id="loginHeading">Partnerships</h3>
      <img src="./assets/logo6.png" id="logo" />
      <h3 style="text-align: center; font-size: 26px">
        Making a positive impact in the world, starting with your heart.
      </h3>
      <p style="text-align: center; font-size: 19px">
        Scriptchain partners with the most innovative leaders in the market to
        help achieve better healthcare for all.
      </p>
      <button type="button" class="signUpBtn">Become a Partner</button>
    </div>
    <div class="content2">
      <h3 style="text-align: center">Our Partners</h3>
      <br />
      <h4>Partner Group 1</h4>
      <div class="card-container">
        <div class="row">
          <img src="./assets/leftarrow.png" class="arrow" />
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <img src="./assets/rightarrow.png" class="arrow" />
        </div>
      </div>
      <br />
      <h4>Partner Group 2</h4>
      <div class="card-container">
        <div class="row">
          <img src="./assets/leftarrow.png" class="arrow" />
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <img src="./assets/rightarrow.png" class="arrow" />
        </div>
      </div>
      <br />
      <h4>Partner Group 3</h4>
      <div class="card-container">
        <div class="row">
          <img src="./assets/leftarrow.png" class="arrow" />
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <img src="./assets/rightarrow.png" class="arrow" />
        </div>
      </div>
    </div>
    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html>
