<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements">
    <img src="./assets/homeIcon.png" />
    <label>Home</label>
    <img src="./assets/arrowIcon.png" />
    <img src="./assets/P1.png" />
    <label>Procedures</label>
  </div>

  <h3 class="loginHeading">Procedures</h3>

  <div class="images">
    <img src="./assets/P2.png" />
    <img src="./assets/P2.png" />
  </div>

  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
