<link href='https://fonts.googleapis.com/css?family=Rubik One' rel='stylesheet'>
<div fxHide fxShow.gt-sm fxLayout="row">
  <div class="left" fxFlex="50" >
    <div>
      <h1>
        <p>#1</p> AI FOR <a href="#">READMISSION</a> & <a href="#">CARDIOVASCULAR DISEASE</a> PREVENTION
      </h1>
      <button>Request Demo</button>
    </div>
  </div>
  <div class="image" fxFlex="50" style="background-image: url(../../assets/images/doctor.png);">
  </div>
</div>

<div fxShow fxHide.gt-sm fxLayout="column">
  <div class="left top">
    <div>
      <h1 class="smallWelcome">
        <p>#1</p> AI FOR <a href="#">READMISSION</a> & <a href="#">CARDIOVASCULAR DISEASE</a> PREVENTION
      </h1>
    </div>
    <button>Request Demo</button>
  </div>
  <div class="image bottom"  style="background-image: url(../../assets/images/doctor.png)">
  </div>
</div>


<!-- <p>#1</p> AI FOR <a href="#">READMISSION</a> & <a href="#">CARDIOVASCULAR DISEASE</a> PREVENTION -->
