<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>
      Be Clinic Medical Category Bootstrap Responsive Website Template | Home ::
      W3layouts
    </title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="Be Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script>
      addEventListener(
        "load",
        function() {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!--// Meta tag Keywords -->

    <!-- Web-Fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext"
      rel="stylesheet"
    />
    <!-- //Web-Fonts -->
  </head>

  <body>
    <!-- main -->
    <div id="home">
      <!-- Header -->
      <app-common-header></app-common-header>
      <!---->
      <!-- banner -->

      <div class="banner_w3lspvt">
        <div class="csslider infinity" id="slider1">
          <input type="radio" name="slides" checked="checked" id="slides_1" />
          <ul class="banner_slide_bg">
            <li class="banner-top1">
              <div class="container">
                <div class="banner-info_agile_w3ls text-center mx-auto padding_bottom_fix">
                  <h3 class="text-wh font-weight-bold">
                    An AI Based Healthcare IT Platform<br />
                    <div
                      style="font-size: 25px; padding-top: 15px; font-weight: normal"
                    >
                    Plugin platform that builds interoperability between different
                    healthcare networks & helps providers prevent chronic diseases from
                    occuring.
                    </div>
                  </h3>
                  <div class="spanLine"></div>
                  <br />
                  <!-- <a routerLink="/patientlogin" class="btn button-w3ls2 mt-5"
                    >Patient</a
                  >
                  <a routerLink="/healthcare/login" class="btn button-w3ls2 mt-5">Healthcare Provider</a>
              <a routerLink="/login" class="btn button-w3ls2 mt-5">Insurance Provider</a>
              <a routerLink="/login" class="btn button-w3ls2 mt-5">Pharmacy</a> -->
                  <a routerLink="/request-access" class="btn button-w3ls2 mt-5"
                    >Request Access</a
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- //banner -->
    </div>
    <!-- //main -->

    <!-- services -->
    <section class="services-w3ls py-5" id="services">
      <div class="container py-xl-5 py-lg-3">
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex services-box">
              <span class="fa fa-flask" aria-hidden="true"
                ><img
                  src="../../assets/decentralized.png"
                  style="width: 70px; height: 70px;"
              /></span>

              <!-- .Icon ends here -->
              <div class="service-content ml-4">
                <h3 class="text-bl font-weight-bold">Decentralized</h3>
                <p class="my-3 text-li">
                  Through IBM's Hyperledger Fabric, decentralization will be
                  enabled to easily share data and lower ransomeware attacks
                  using kubernetes.
                </p>
              </div>
              <!-- .Service-content ends here -->
            </div>
            <div class="d-flex services-box mt-5">
              <span class="fa fa-child" aria-hidden="true"
                ><img
                  src="../../assets/usability.png"
                  style="width: 70px; height: 70px;"
              /></span>

              <!-- .Icon ends here -->
              <div class="service-content ml-4">
                <h3 class="text-bl font-weight-bold">Usability</h3>
                <p class="my-3 text-li">
                  Making sure that the user comes first is our priority.
                  <br />The platform is easy to navigate and offers a demo to
                  set up users who are not sure where to start.
                </p>
              </div>
              <!-- .Service-content ends here -->
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5">
            <div class="d-flex services-box">
              <span class="fa fa-comments" aria-hidden="true"
                ><img
                  src="../../assets/data-security.png"
                  style="width: 70px; height: 70px;"
              /></span>

              <!-- .Icon ends here -->
              <div class="service-content ml-4">
                <h3 class="text-bl font-weight-bold">Data Security</h3>
                <p class="my-3 text-li">
                  Utilizes end to end encrypted smart contracts to write all
                  medical records and increase data interoperability between
                  different healthcare networks. <br />
                </p>
              </div>
              <!-- .Service-content ends here -->
            </div>
            <div class="d-flex services-box mt-5">
              <span class="fa fa-heartbeat" aria-hidden="true"
                ><img
                  src="../../assets/auditability.png"
                  style="width: 70px; height: 70px;"
              /></span>

              <!-- .Icon ends here -->
              <div class="service-content ml-4">
                <h3 class="text-bl font-weight-bold">Auditability</h3>
                <p class="my-3 text-li">
                  Being able to track and trace all your inputs into the system
                  with log information easily available.
                </p>
              </div>
              <!-- .Service-content ends here -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //services -->

    <!-- Reviews with automated slider-->
    <div class="banner_w3lspvt">
      <div class="csslider infinity" id="slider2" data-ride="carousel">
        <!-- <input type="radio" name="slides" checked="checked" id="slides_1" />
    <input type="radio" name="slides" id="slides_2" />
    <input type="radio" name="slides" id="slides_3" /> -->
        <ul class="banner_slide_bottom">
          <li class=" anim1 banner-bottom1">
            <div class="container">
              <div class="banner-info_agile_w3ls mx-auto">
                <br />
                <br />
                <h2
                  class="text-bl font-weight-bold"
                  style="margin-top: -150px; "
                >
                  What Our Clients Say
                </h2>
                <p
                  class="my-3 text-li"
                  style="text-align: center; padding-top:25px; position:relative;"
                >
                  "Blockchain technology can fix a lot of pains in the current
                  EHR pains like keeping medical records current no matter where
                  they are distributed. I am looking forward to what ScriptChain
                  has to offer." <br />
                  <img
                    class="card-img-bottom"
                    src="https://touchsuite.com/wp-content/uploads/2018/05/five-stars.png"
                    alt="five star review"
                    style="padding-top: 20px;max-width: 15%; height: auto;"
                  />
                </p>
                <div class="blog_w3icon" style="display: block">
                  <span style="float: right;">
                    Dr. Khan - Long Island Jewish Hospital.
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="anim2 banner-bottom1">
            <div class="container">
              <div class="banner-info_agile_w3ls text-center mx-auto">
                <br />
                <br />
                <h2
                  class="text-bl font-weight-bold"
                  style="margin-top: -150px; "
                >
                  What Our Clients Say
                </h2>
                <p
                  class="my-3 text-li"
                  style="text-align: center; padding-top:25px; position:relative;"
                >
                  "Scriptchain is going to be awesome with its futuristic
                  approach in medical data sharing." <br />
                  <img
                    class="card-img-bottom"
                    src="https://touchsuite.com/wp-content/uploads/2018/05/five-stars.png"
                    alt="five star review"
                    style="padding-top: 20px;max-width: 15%; height: auto;"
                  />
                </p>
                <div class="blog_w3icon" style="display: block">
                  <span style="float: right;">
                    Er. Santosh Dahal - Oct 4, 2019
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="anim3 banner-bottom1">
            <div class="container">
              <div class="banner-info_agile_w3ls text-center mx-auto">
                <br />
                <br />
                <h2
                  class="text-bl font-weight-bold"
                  style="margin-top: -150px; "
                >
                  What Research Says
                </h2>
                <p
                  class="my-3 text-li"
                  style="text-align: center; padding-top:25px; position:relative;"
                >
                  "Blockchain could serve as a transaction layer for
                  organizations to submit and share data using one secure
                  system. This will be most effective if a specific set of
                  standardized data were to be stored directly on the blockchain
                  for immediate, permissioned access..." <br />
                  <img
                    class="card-img-bottom"
                    src="https://touchsuite.com/wp-content/uploads/2018/05/five-stars.png"
                    alt="five star review"
                    style="padding-top: 20px;max-width: 15%; height: auto;"
                  />
                </p>
                <div class="blog_w3icon" style="display: block">
                  <span style="float: right;"> Deloitte - Aug 1, 2016 </span>
                </div>
              </div>
            </div>
          </li>

          <li class="anim3 banner-bottom1">
            <div class="container">
              <div class="banner-info_agile_w3ls text-center mx-auto">
                <h2
                  class="text-bl font-weight-bold"
                  style="margin-top: -150px; "
                >
                  What Research Says
                </h2>
                <p
                  class="my-3 text-li"
                  style="text-align: center; padding-top:25px; position:relative;"
                >
                  "Blockchain could serve as a transaction layer for
                  organizations to submit and share data using one secure
                  system. This will be most effective if a specific set of
                  standardized data were to be stored directly on the blockchain
                  for immediate, permissioned access..." <br />
                  <img
                    class="card-img-bottom"
                    src="https://touchsuite.com/wp-content/uploads/2018/05/five-stars.png"
                    alt="five star review"
                    style="padding-top: 20px;max-width: 15%; height: auto;"
                  />
                </p>
                <div class="blog_w3icon" style="display: block">
                  <span style="float: right;"> Deloitte - Aug 1, 2016 </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- <div class="navigation">
      <div>
        <label style="background: rgb(73, 73, 73);" for="slides_1"></label>
        <label style="background: rgb(73, 73, 73);" for="slides_2"></label>
        <label style="background: rgb(73, 73, 73);" for="slides_3"></label>
      </div>
    </div> -->
      </div>
    </div>

    <!---- Footer --->
    <app-contact-us-form></app-contact-us-form>
    <app-footer></app-footer>
  </body>
</html>
