<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Be Clinic Medical Category Bootstrap Responsive Website Template | Login :: W3layouts</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta name="keywords" content="Be Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- Web-Fonts -->
  <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">
  <!-- //Web-Fonts -->
</head>

<body>
<!-- main -->
<div id="home">
  
  <!-- header -->
  <div class="main-top" style="background: black">
    <div class="container">
      <div class="header d-md-flex justify-content-between align-items-center py-3">
        <!-- logo -->
        <div id="logo">
          <h1>
            <a href="/home">
              <span class="fa fa-user-md mr-2"></span>
              <span class="logo-sp">ScriptChain</span>

            </a>
          </h1>
        </div>
        <!-- //logo -->
        <!-- nav -->
        <div class="nav_w3ls">
          <nav>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
              <li><a routerLink="/home" >Home</a></li>
              <li><a routerLink="#"  class="active mx-lg-4 mx-md-3 my-md-0 my-2">Request Access</a></li>
              <li><a href="/contact-us">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <!-- //nav -->
      </div>
    </div>
  </div>
  <!-- //banner -->
</div>
<!-- //main -->

<!-- REQUEST access FORM-->
<section class="login py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="alert alert-danger" id="userexistalready" style="margin-top: 16px;">          
            <h6 align="center">Hmm. It seems like the email address you have entered is already on the waiting list. Try using another email.</h6>
         </div>
      <div class="row" id="rform">
        <div class="col-lg-9">
          <div class="title-section mb-md-5 mb-4">
            <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" style="padding-top: 50px">Request Access</h3>
          </div>
        </div>
        <div class="col-lg-9">
          <form ngNativeValidate action="#" (ngSubmit)="requestAccess()" method="post">
            <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
              <div class="col-lg-9">
                <div class="form-group">

                  <label>First Name*</label>
                  <input class="form-control" type="text" name="fname" pattern="[a-zA-Z ]{2,30}" #fname="ngModel" [class.is-invalid]="fname.invalid && fname.touched" [(ngModel)]="requestaccessservice.user.fname" placeholder="First Name" required>
                  <small class="text-danger" [class.d-none]="fname.valid || fname.untouched">First Name is required</small>
                </div>
                <div class="form-group">

                    <label>Last Name*</label>

                  <input class="form-control" type="text" name="lname" pattern="[a-zA-Z ]{2,30}" #lname="ngModel"  [class.is-invalid]="lname.invalid && lname.touched" [(ngModel)]="requestaccessservice.user.lname" placeholder="Last Name" required>
                  <small class="text-danger" [class.d-none]="lname.valid || lname.untouched">Last Name is required</small>
                </div>
                <div class="form-group">

                    <label>E-mail Address*</label>

                  <input class="form-control" type="email" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="requestaccessservice.user.email" placeholder="Email" required>
                  <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
                </div>
                <div class="form-group">

                    <label>Type of User*</label>

                  <select class="form-control" name="usertype" #typeofuser="ngModel" [class.is-invalid]="typeofuser.invalid && typeofuser.touched" [(ngModel)]="requestaccessservice.user.typeOfUser" required>
                    <option value="">Select One</option>
                    <option value="Potential_Patient">Potential Patient</option>
                    <option value="Potential_Healthcare_Provider">Potential Healthcare Provider</option>
                    <option value="Potential_Insurance_Provider">Potential Insurance Provider</option>
                    <option value="Potential_Pharmacist">Potential Pharmacist</option>
                  </select>
                  <small class="text-danger" [class.d-none]="typeofuser.valid || typeofuser.untouched">Type of User required</small>
                  <br>
                </div>
                <button type="submit" class="btn submit mt-4">Submit</button><br>
              </div>
            </div>
          </form>
        </div>
      </div>
     
        <div id="requestAccessSuccess">          
          <h2  align="center" style="margin-top: 50px;"><b>THANK YOU FOR YOUR SUBMISSION YOU'RE NOW ON THE WAITING LIST!</b></h2>
          </div>
    </div>
  </section>
<!-- //REQUEST DEMO -->

<!-- footer -->
<footer class="py-5" id="footer">
  <div class="container py-xl-5 py-lg-3">
    <div class="row">
      <div class="col-lg-7 w3l-footer">
        <!-- logo -->
        <div class="logo2">
          <h2>
            <a href="index.html">
              <span class="fa fa-user-md mr-2"></span>
              <span class="logo-sp">ScriptChain</span>
            </a>
          </h2>
        </div>
        <!-- //logo -->
        <p class="mt-4 text-light"> The product is a blockchain system in development where it can help increase
          efficiency and make it more user friendly to our customers like the healthcare insurers, providers and
          pharmacy's. Creating a large decentralized network throughout the entire horizontal process.</p>
        <ul class="list-unstyled list-styles mt-lg-5 mt-4">
          <li>
            <p class="text-light"><span class="fa fa-location-arrow mr-2"></span>Boston, MA</p>
          </li>
          <li class="my-3">
            <p class="text-light"><span class="fa fa-phone mr-2"></span>Enter phone</p>
          </li>
          <li>
            <a href="mailto:info@example.com" class="text-light"><span class="fa fa-envelope-open mr-2"></span>Enter email</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 w3l-footer mt-lg-0 mt-5">
        <h3 class="mb-sm-4 mb-3 text-wh">Partners</h3>
        <ul class="list-unstyled list-part text-wh pt-lg-3">
          <li><span class="fa fa-500px" aria-hidden="true"></span></li>
          <li class="mx-4"><span class="fa fa-gg" aria-hidden="true"></span></li>
          <li><span class="fa fa-lastfm" aria-hidden="true"></span></li>
          <li class="mx-4"><span class="fa fa-openid" aria-hidden="true"></span></li>
          <li><span class="fa fa-angellist" aria-hidden="true"></span></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->

<!-- footer bottom -->
<!-- copyright -->
<div class="copy-w3pvt">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
        <p>&copy; 2019 ScriptChain. All rights reserved
           <!-- | Design by
          <a href="http://w3layouts.com/">W3layouts</a> -->
        </p>
      </div>
      <div class="col-lg-5 w3ls_footer_grid_left1_pos text-lg-right text-center mt-lg-0 mt-2">
        <ul>
          <li>
            <a href="#" class="facebook">
              <span class="fa fa-facebook-f mr-2"></span>Facebook</a>
          </li>
          <li class="mx-3">
            <a href="#" class="twitter">
              <span class="fa fa-twitter mr-2"></span>Twitter</a>
          </li>
          <li>
            <a href="#" class="google">
              <span class="fa fa-google-plus mr-2"></span>Google Plus</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- //copyright -->
<!-- //footer bottom -->
<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->

</body>

</html>

